{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}TIPOSMUESTRA{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
    <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
    <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
    <button id="exportarBtn" >Exportar Excel</button>
    <button id="exportBtn">Exportar PDF</button>
</div>
<script src="{% static 'js/js_reportes/rpt_tipo_muestra.js' %}"></script>
<div class="contenedor-listar-campos">
    <h1 class="h1-listar">Registros de Tipos de muestra</h1>
    <div class="busqueda-listar">
        <form method="GET" action="{% url 'buscar_TipoMuestra' %}">
            {% csrf_token %}
            <div class="buscador-listar">
                <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre">
            </div>
            <div class="btnBusqueda-listar">
                <input id="btnBuscarUsuario " type="submit" value="Buscar">
            </div>
        </form>
        <a class="btn-agregar" href="/CLINICA/templates/TipoMuestra/TMuestra.html" class="btn-agregar-link">Agregar</a>
    </div>
    <div class="container-listar">
        <div class="tabla-listar">
            <table class="tftable-listar" ,border="1">
                <tr class="tfheader-listar">
                    <th style="color:aliceblue">ID Tipo de Muestra</th>
                    <th style="color:aliceblue">Nombre</th>
                    <th style="color:aliceblue">Método de Conservación</th>

                    <th style="color:aliceblue">Acciones</th>
                </tr>
                {% if tmuestra %}
                {% for tmuestras in tmuestra %}
                <tr>
                    <td>{{ tmuestras.id }}</td>
                    <td>{{ tmuestras.nombre }}</td>
                    <td>{{ tmuestras.metodoConservacion }}</td>

                    <td>
                        <form action="{% url 'abrir_actualizar_TipoMuestra' %}" method="post" class="form-botones">
                            {% csrf_token %}
                            <input type="hidden" name="id_tmuestra" value="{{ tmuestras.id }}">
                            <button class="btnEditar" name="editar" id="editar">
                                <img src="{% static 'img/icons/icedit.png' %}">
                            </button>
                        </form>
                        <form action="{% url 'eliminar_TipoMuestra' id=tmuestras.id  %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_tmuestra" value="{{ tmuestras.id }}">
                            <button class="btnEliminar" name="eliminar" id="eliminar">
                                <img src="{% static 'img/icons/icdelete.png' %}">
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">No se encontraron Tipos de muestra.</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
{% endblock %}