{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Actualizar Tipo Muestra{% endblock %}
{% block content %}

<style type="text/css">
  input[type="text"] {
      width: 90%;
      height: 40px;
  }

  input[type="password"] {
      width: 90%;
      height: 40px;
  }
  input[type="number"] {
      width: 90%;
      height: 40px;
  }

  select {
      width: 90%;
      height: 40px;
  }
  fieldset{
      width: 95%;
  }
  #alert-alert-info{
    top:70vh;
  }
</style>
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<script src="{% static 'js/js_reportes/rpt_tipo_muestra.js' %}"></script>
<div class="contenedor">
  <h1 class="logo"><span class="nombre-empresa">Actualizar Tipo de Muestra</span></h1>
  <div class="wrapper animated bounceInLeft">
    <div class="info-empresa">
      <h3>Medical Rescue</h3>
      <ul class="servicios">
        <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa,
        </li>
        <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
        <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
        <button class="button"><a href="/CLINICA/templates/TipoMuestra/BuscarTMuestra.html">BUSCAR</a></button>
      </ul>
    </div>
    <div class="contacto">
      <h3></h3>
        <form method="POST" action="{% url 'actualizar_TipoMuestra' id=tmuestra.0.id %}">
          {% csrf_token %}
          <p>
            <label>Nombre</label>
            <input type="text" name="nombre" required  value="{{ tmuestra.0.nombre }}">
          </p>
          
        <p class="full">
            <label>Método de Conservación</label>
            <textarea name="metodoConservacion" required >{{ tmuestra.0.metodoConservacion }}</textarea>
          </p>
          <p> 
          <p class="full">
            <button class="boton-enviar" >Actualizar</button>
          </p>
        </form>
      </div>
    </div>
  </div>
        {% if mensaje %}
        <div id="alert-alert-info">
          <p>{{ mensaje }}</p>
        </div>
        {% endif %}
        {% endblock %}