{% load static %}

<header class="contenedorbuscarDocumento"> 
    {% include 'base_principal.html' %} 
  </header>
<head>
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
</head>
<title>Impuestos</title>
<LINK REL=StyleSheet HREF="/CLINICA/static/css/MuestrasStyle/styleBuscarMuestras.css" TYPE="text/css" MEDIA=screen>
  <body class="body-listar">
    <div class="contenedor-listar-campos">
        <h1 class="h1-listar">Buscar muestras</h1>
        <div class="container-listar">
            <div class="busqueda-listar">
              <form method="GET" action="{% url 'buscar_muestras' %}" >
                <div class="buscador-listar">
                    <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre">
                    </div>
                    <div class="btnBusqueda-listar">
                        <input id="btnBuscarUsuario "type="submit" value="Buscar">
                    </div>
              </form>
            </div>
            <div class="tabla-listar">
                <table class="tftable-listar" style="overflow-y: scroll; height: auto; max-height: 400px;">
                    <thead>
                      <tr class="tfheader-listar">
                        <th style="color:aliceblue">ID</th>
                        <th style="color:aliceblue">Fecha</th>
                        <th style="color:aliceblue">Id Paciente</th>
                        <th style="color:aliceblue">Documento</th>
                    
                        <th style="color:aliceblue">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if muestras %}
                      {% for muestra in muestras %}
                        <tr>
                          <td>{{ muestras.id }}</td>
                          <td>{{ muestras.fecha }}</td>
                          
                          <td> 
                            <form action="{% url 'abrir_actualizar_muestras' %}" method="post" class="form-botones">
                              {% csrf_token %}
                              <input type="hidden" name="id_muestra" value="{{ muestra.id }}">
                              <button class="btnEditar" name="editar" id="editar">
                                  <img src="{% static 'img/icons/icedit.png' %}">
                            </button>
                            </form>
                            <form action="{% url 'eliminar_muestras' id=muestra.id  %}"  method="post">
                              {% csrf_token %}
                              <input type="hidden" name="id_muestra" value="{{ muestra.id }}">
                            <button class="btnEliminar" name="eliminar" id="eliminar">
                              <img src="{% static 'img/icons/icdelete.png' %}">
                            </button>
                            </form>
                        </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="3">No se encontraron muestras.</td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
        </div>
    </div>
</div>