{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}MUESTRAS{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div class="contenedor-listar-campos">
  <h1 class="h1-listar">Registros de Muestras</h1>
  <div class="busqueda-listar">
    <form method="GET" action="{% url 'buscar_muestras' %}">
      {% csrf_token %}
      <div class="buscador-listar">
        <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre(paciente)">
      </div>
      <div class="btnBusqueda-listar">
        <input id="btnBuscarUsuario " type="submit" value="Buscar">
      </div>
    </form>
    <a class="btn-agregar" href="/CLINICA/templates/Muestras/Muestra.html" class="btn-agregar-link">Agregar</a>
  </div>
  <div class="container-listar">
    <div class="tabla-listar">
      <table class="tftable-listar">
        <thead>
          <tr class="tfheader-listar">
            <th style="color:aliceblue">ID</th>
            <th style="color:aliceblue">Paciente</th>
            <th style="color:aliceblue">Fecha</th>
            <th style="color:aliceblue">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if muestras %}
          {% for muestra in muestras %}
          <tr>
            <td>{{ muestra.id }}</td>
            <td>{{ muestra.idPaciente.nombre }}</td>
            <td>{{ muestra.fecha }}</td>

            <td>
              <form action="{% url 'abrir_actualizar_muestras' %}" method="post" class="form-botones">
                {% csrf_token %}
                <input type="hidden" name="id_muestra" value="{{ muestra.id }}">
                <button class="btnEditar" name="editar" id="editar">
                  <img src="{% static 'img/icons/icedit.png' %}">
                </button>
              </form>
              <form action="{% url 'eliminar_muestras' id=muestra.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_muestra" value="{{ muestra.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icdelete.png' %}">
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4">No se encontraron muestra.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
{% endblock %}