{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}IMPUESTOS{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div class="contenedor-listar-campos">
  <h1 class="h1-listar">Registros de Impuestos</h1>
  <div class="busqueda-listar">
    <form method="GET" action="{% url 'buscar_Impuestos' %}">
      {% csrf_token %}
      <div class="buscador-listar">
        <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre">
      </div>
      <div class="btnBusqueda-listar">
        <input id="btnBuscarUsuario " type="submit" value="Buscar">
      </div>
    </form>
    <a class="btn-agregar" href="/CLINICA/templates/Impuestos/Impuesto.html" class="btn-agregar-link">Agregar</a>
  </div>
  <div class="container-listar">
    <div class="tabla-listar">
      <table class="tftable-listar">
        <thead>
          <tr class="tfheader-listar">
            <th style="color:aliceblue">ID</th>
            <th style="color:aliceblue">Nombre</th>
            <th style="color:aliceblue">Valor</th>
            <th style="color:aliceblue">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if Impuestos %}
          {% for Impuesto in Impuestos %}
          <tr>
            <td>{{ Impuesto.id }}</td>
            <td>{{ Impuesto.nombre }}</td>
            <td>{{ Impuesto.valor }}</td>

            <td>
              <form action="{% url 'abrir_actualizar_Impuestos' %}" method="post" class="form-botones">
                {% csrf_token %}
                <input type="hidden" name="id_Impuestos" value="{{ Impuesto.id }}">
                <button class="btnEditar" name="editar" id="editar">
                  <img src="{% static 'img/icons/icedit.png' %}">
                </button>
              </form>
              <form action="{% url 'eliminar_Impuestos' id=Impuesto.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_Impuestos" value="{{ Impuesto.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icdelete.png' %}">
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="3">No se encontraron Impuestos.</td>
          </tr>
          {% endif %}
          {% if error %}
        <div id="alert-alert-info" style="top:100px">
          <p>{{ error }}</p>
        </div>
        </div>
        {% endif %}

          
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}