{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}DOCUMENTOS{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div class="contenedor-listar-campos">
  <h1 class="h1-listar">Registros de Expedientes</h1>
  <div class="busqueda-listar">
    <form method="GET" action="{% url 'buscar_expediente' %}">
      {% csrf_token %}
      <div class="buscador-listar">
        <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Documento">
      </div>
      <div class="btnBusqueda-listar">
        <input id="btnBuscarUsuario " type="submit" value="Buscar">
      </div>
    </form>
    <a class="btn-agregar" href="/CLINICA/templates/expediente/expediente.html" class="btn-agregar-link">Agregar</a>
  </div>
  <div class="container-listar">
    <div class="tabla-listar">
      <table class="tftable-listar" style="overflow-y: scroll; height: auto; max-height: 400px;">
        <thead>
          <tr class="tfheader-listar">
            <th style="color:aliceblue">ID</th>
            <th style="color:aliceblue">Paciente</th>
            <th style="color:aliceblue">Fecha</th>
            <th style="color:aliceblue">Observación</th>
            <th style="color:aliceblue">Activo</th>
            <th style="color:aliceblue">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if expediente %}
          {% for exp in expediente %}
          <tr>
            <td>{{ exp.id }}</td>
            <td> {{ exp.idPaciente.nombre }} <br> {{ exp.idPaciente.documento }} </td>
            <td>{{ exp.fecha }}</td>
            <td>{{ exp.observacion }}</td>
            <td>{{ exp.activo }}</td>
            <td>
              <form action="{% url 'abrir_actualizar_expediente' %}" method="post" class="form-botones">
                {% csrf_token %}
                <input type="hidden" name="id_expediente" value="{{ exp.id }}">
                <button class="btnEditar" name="editar" id="editar">
                  <img src="{% static 'img/icons/icedit.png' %}">
                </button>
              </form>
              <form action="{% url 'eliminar_expediente' id=exp.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_expediente" value="{{ exp.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icdelete.png' %}">
                </button>
              </form>
              <form action="{% url 'ver_detalle_expediente' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_expediente" value="{{ exp.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icview.png' %}">
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="6">No se encontraron expedientes.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
{% endblock %}