.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-contenido {
  background-color: #B8C7C9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  color: black !important;;
  width: 60%;
}

.cerrar {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.eliminar-btn{
  background-color: rgba(215, 3, 3, 0.543);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
}
.eliminar-btn:hover{
    background-color: rgba(255, 3, 3, 0.75);
}

.boton-agregar {
  max-height: 40px;
  height: 40px;width: 200px;
  color: black !important;
  margin-left: 5px;
  border-radius: 10px;
}
.boton-agregar:hover {
  background-color: #ffffff2e;

}

.boton-agregar-modal {
  max-height: 40px;
  height: 40px;width: 200px;
  color: black !important;
  margin-left: 150px;
  border-radius: 10px;
  background-color: #618387 ;
  margin-top: 5px;
}
.boton-agregar-modal:hover {
  background-color: #ffffff2e;

}
input[type="text"] {
  width: 90%;
  height: 40px;
}
input[type="datetime-local"] {
  width: 90%;
  height: 40px;
}
select {
  width: 90%;
  height: 40px;
}
fieldset{
  width: 95%;
}
.boton-enviar{
margin-top: 10px;
}
#alert-alert-info{
  top:70vh;
}