.contenedor-listar-campos{
    overflow: hidden !important;;
}
.container-listar {
    width: 95%;
    max-width: 95%;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    margin-left: 30px;
}

.busqueda-listar {
    padding: 10px;
}

.busqueda-listar input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-bottom: 1px solid rgba(255, 255, 255, 0.719);
    background: #418b8f;
    height: 35px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.busqueda-listar input[type="text"]:hover {
    background: #61a6aa;
}

.busqueda-listar input[type="submit"] {
    position: relative;
    width: 100px;
    left: 80px;
    margin-top: 5px;
    margin-left: 20px;
    border: none;
    outline: none;
    height: 35px;
    background: #035D62;
    color: white;
    border-radius: 10px;
}

.busqueda-listar input[type="submit"]:hover {
    background: #579396;
}

.tftable-listar {
    font-size: 12px;
    color: #1b1818;
    width: 100%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.233);
    border-collapse: collapse;
}

.tftable-listar th {
    font-size: 16px;
    background-color: #035D62;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.526);
    ;
    text-align: left;
}

.tftable-listar tr { 
    background-color: #579396;
}

.tftable-listar td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.233);
}

.tftable-listar tr:hover {
    background-color: #ABC9CA;
}

@media(min-width:700px) {
    .busqueda-listar {
        display: flex;
        margin-left: 30%;
    }

    .busqueda-listar input[type="text"] {
        width: 300px;
    }

    .busqueda-listar input[type="button"] {
        margin-top: 0;
        margin-left: 30px;
    }

}
.h1-listar{
    text-align:center;
    color: #13454B;
}
.btnEliminar,
.btnEditar {
    align-self: center;
    margin-left: 25px;
    cursor: pointer;
}
.btn-agregar{
    position: absolute;
    width: 100px;
    top:17%;
    left:90%;
    border: none;
    outline: none;
    height: 35px;
    background: #035D62;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    padding:5px;
}
.btn-agregar:hover{
    background: #579396;;
}

.btn-agregar-link{
    position: absolute;
    width: 100px;
    top:17%;
    left:82%;
    border: none;
    outline: none;
    height: 35px;
    background: #035D62;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    padding:5px;

}
.btn-agregar-link:hover{
    background: #579396;;
}
