{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}SAR{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
  {% if 'exportar' in datos_permisos.0.idPantallas.correlativo %}
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
  {% else %}
  <a href="#" class="activarFormulario">Exportar</a>
{% endif %}
</div>
<script src="{% static 'js/js_reportes/rpt_sar.js' %}"></script>
<div class="contenedor-listar-campos">
  <h1 class="h1-listar">Registros de Correlativo SAR</h1>
  <div class="busqueda-listar">
    <form method="GET" action="{% url 'buscar_correlativo' %}">
      {% csrf_token %}
      <div class="buscador-listar">
        <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o CAI">
      </div>
      {% if 'buscar' in datos_permisos.0.idPantallas.correlativo %}
      <div class="btnBusqueda-listar">
        <input id="btnBuscarUsuario " type="submit" value="Buscar">
      </div>
      {% else %}
      <a href="#" class="activarFormulario" style="color: black;">Buscar</a>
    {% endif %}
    </form>
    <a class="btn-agregar" href="/CLINICA/templates/correlativo/correlativo.html" class="btn-agregar-link">Agregar</a>
  </div>
  <div class="container-listar">
    <div class="tabla-listar">
      <table class="tftable-listar" style="overflow-y: scroll; height: auto; max-height: 400px;">
        <thead>
          <tr class="tfheader-listar">
            <th style="color:aliceblue">ID</th>
            <th style="color:aliceblue">CAI</th>
            <th style="color:aliceblue">Rango Inicial</th>
            <th style="color:aliceblue">Consecutivo</th>
            <th style="color:aliceblue">Rango Final</th>
            <th style="color:aliceblue">Fecha Inicial</th>
            <th style="color:aliceblue">Fecha límite de emisión</th>
            <th style="color:aliceblue">Activo</th>
            <th style="color:aliceblue">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if correlativo %}
          {% for correlativos in correlativo %}
          <tr>
            <td>{{ correlativos.id }}</td>
            <td>{{ correlativos.cai }}</td>
            <td>{{ correlativos.rangoInicial }}</td>
            <td>{{ correlativos.consecutivo }}</td>
            <td>{{ correlativos.rangoFinal }}</td>
            <td>{{ correlativos.fechaInicio }}</td>
            <td>{{ correlativos.fechaLimiteEmision }}</td>
            <td>{{ correlativos.activo }}</td>
            <td>
              {% if 'actualizar' in datos_permisos.0.idPantallas.correlativo %}
              <form action="{% url 'abrir_actualizar_correlativo' %}" method="post" class="form-botones">
                {% csrf_token %}
                <input type="hidden" name="id_correlativo" value="{{ correlativos.id }}">
                <button class="btnEditar" name="editar" id="editar">
                  <img src="{% static 'img/icons/icedit.png' %}">
                </button>
              </form>
              {% else %}
              <a href="#" class="activarFormulario" style="background-position: left top;"></a>
            {% endif %}
              {% if 'eliminar' in datos_permisos.0.idPantallas.correlativo %}
              <form action="{% url 'eliminar_correlativo' id=correlativos.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_correlativo" value="{{ correlativos.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icdelete.png' %}">
                </button>
              </form>
              {% else %}
              <a href="#" class="activarFormulario" style="background-position: left top;"></a>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4">No se encontraron Correlativos.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
{% endblock %}