<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CLINICA/static/css/usuariostyle/stylesinicio.css">
    <title>Informacion Usuarios</title>
</head>
<body>
    <section id="informacion">
        <div class="container">
            <div class="img-container">
                <img src="/CLINICA/static/img/images/imguser1.png" alt="No se encontró la imagen">
            </div>
            <div class="titulo">
                <h1 class="tit">Gestión de Usuarios</h1>
            </div>
        </div>
    </section>
    <section id="descripcion">
        <div class="container">
            <div class="texto">
                <h2>Objetivo</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>                   
            </div>
        </div>
    </section>
    <section id="descripcion2">
        <div class="container">
            <div class="texto-des">
                <h2>Accesibilidad</h2>
                <ol>
                    <li><h3>Registros de usuarios</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    <li><h3>Actualizacion de informacion</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    <li><h3>Eliminar registros</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    <li><h3>Busqueda de registros</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    
                </ol>
                
            </div>
            <div class="img-container"><img src="/CLINICA/static/img/images/imguser2.png" alt="No se encontró la imagen"></div>
        </div>
    </section>
</body>
</html>