<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CLINICA/static/css/usuariostyle/stylesusuario.css">
    <title>Usuarios</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <a href="/CLINICA/templates/more/usuario/inicio.html" target="content-iframe-user">Inicio</a>
                    <a href="/CLINICA/templates/more/usuario/registro.html" target="content-iframe-user">Registrar Usuarios</a>
                    <a href="/CLINICA/templates/more/usuario/listar.html" target="content-iframe-user">Visualizar Registros</a>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content-box">
        <iframe name="content-iframe-user" src="/CLINICA/templates/more/usuario/inicio.html"class="content"></iframe>
    </div>
</body>
</html>