{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}ENFERMEDADES{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
  {% if 'exportar' in datos_permisos.0.idPantallas.enfermedad %}
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
  {% else %}
  <a href="#" class="activarFormulario">Exportar</a>
{% endif %}
</div>
<script src="{% static 'js/js_reportes/rpt_enfermedad.js' %}"></script>
<div class="contenedor-listar-campos">
  <h1 class="h1-listar">Registros de Enfermedades</h1>
  <div class="busqueda-listar">
    <form method="GET" action="{% url 'buscar_enfermedad' %}">
      {% csrf_token %}
      <div class="buscador-listar">
        <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre">
      </div>
      {% if 'buscar' in datos_permisos.0.idPantallas.enfermedad %}
      <div class="btnBusqueda-listar">
        <input id="btnBuscarUsuario " type="submit" value="Buscar">
      </div>
      {% else %}
      <a href="#" class="activarFormulario" style="color: black;">Buscar</a>
    {% endif %}
    </form>
    <a class="btn-agregar" href="/CLINICA/templates/enfermedad/enfermedad.html" class="btn-agregar-link">Agregar</a>
  </div>
  <div class="container-listar">
    <div class="tabla-listar">
      <table class="tftable-listar">
        <thead>
          <tr class="tfheader-listar">
            <th style="color:aliceblue">ID</th>
            <th style="color:aliceblue">Nombre</th>
            <th style="color:aliceblue; max-width: 20vh;">Síntomas(id,nombre)</th>
            <th style="color:aliceblue">Accion Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% if enfermedades %}
          {% for enfermedad in enfermedades %}
          <tr>
            <td>{{ enfermedad.id }}</td>
            <td>{{ enfermedad.nombre }}</td>
            <td style="max-width: 20vh; word-wrap: break-word;">{% for sintoma in enfermedad.idSintomas.values %}
                {{ sintoma.id }}&#41 {{ sintoma.nombre }} <br/>
                {% endfor %}
            </td>
            <td>
              {% if 'actualizar' in datos_permisos.0.idPantallas.enfermedad %}
              <form action="{% url 'abrir_actualizar_enfermedad' %}" method="post" class="form-botones">
                {% csrf_token %}
                <input type="hidden" name="id_enfermedad" value="{{ enfermedad.id }}">
                <button class="btnEditar" name="editar" id="editar">
                    <img src="{% static 'img/icons/icedit.png' %}">
                </button>
              </form>
              {% else %}
              <a href="#" class="activarFormulario" style="background-position: left top;"></a>
            {% endif %}
              {% if 'eliminar' in datos_permisos.0.idPantallas.enfermedad %}
              <form action="{% url 'eliminar_enfermedad' id=enfermedad.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_enfermedad" value="{{ enfermedad.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icdelete.png' %}">
                </button>
              </form>
              {% else %}
              <a href="#" class="activarFormulario" style="background-position: left top;"></a>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="6">No se encontraron los datos.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}

{% endblock %}