{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}DOCUMENTOS{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div class="contenedor-listar-campos">
    <h1 class="h1-listar">Registros de Documentos</h1>
    <div class="busqueda-listar">
        <form method="GET" action="{% url 'buscar_tipo' %}">
            {% csrf_token %}
            <div class="buscador-listar">
                <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre">
            </div>
            <div class="btnBusqueda-listar">
                <input id="btnBuscarUsuario " type="submit" value="Buscar">
            </div>
        </form>
        <a class="btn-agregar" href="/CLINICA/templates/Tipos/tipo.html" class="btn-agregar-link">Agregar</a>
    </div>
    <div class="container-listar">
        <div class="tabla-listar" style="overflow-y: scroll; height: auto; max-height: 400px;">
            <table class="tftable-listar" ,border="1">
                <tr class="tfheader-listar">
                    <th style="color:aliceblue">ID tipo</th>
                    <th style="color:aliceblue">Nombre</th>
                    <th style="color:aliceblue">Descripción</th>

                    <th style="color:aliceblue">Acciones</th>
                </tr>
                {% if tipo %}
                {% for tipos in tipo %}
                <tr>
                    <td>{{ tipos.id }}</td>
                    <td>{{ tipos.nombre }}</td>
                    <td>{{ tipos.descripcion }}</td>

                    <td>
                        <form action="{% url 'abrir_actualizar_tipo' %}" method="post" class="form-botones">
                            {% csrf_token %}
                            <input type="hidden" name="id_tipos" value="{{ tipos.id }}">
                            <button class="btnEditar" name="editar" id="editar">
                                <img src="{% static 'img/icons/icedit.png' %}">
                            </button>
                        </form>
                        <form action="{% url 'eliminar_tipo' id=tipos.id  %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_tipos" value="{{ tipos.id }}">
                            <button class="btnEliminar" name="eliminar" id="eliminar">
                                <img src="{% static 'img/icons/icdelete.png' %}">
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">No se encontraron tipo.</td>
                </tr>
                {% endif %}
            </table>

        </div>
    </div>
</div>
{% endblock %}