{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Tipos{% endblock %}
{% block content %}
<style type="text/css">
  input[type="text"] {
      width: 60%;
      height: 40px;
      margin:5px;
  }

  input[type="password"] {
      width: 40%;
      height: 40px;
  }
  input[type="number"] {
      width: 40%;
      height: 40px;
  }

  select {
      width: 60%;
      height: 40px;
      margin:5px;
  }
  textarea{
    width: 70%;
    margin:5px;
  }
  fieldset{
      width: 95%;
  }
  #alert-alert-info{
    top:70vh;
  }
</style>
<div class="contenedor">
    <h1 class="logo"><span class="nombre-empresa">Tipos Medical Rescue</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="info-empresa">
        <h3>Medical Rescue</h3>
        <ul class="servicios">
          <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
          <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
          <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
          <button class="button"><a href ="/CLINICA/templates/Tipos/buscartipo.html">Buscar</a> </button>


        </ul>
      </div>
      <div class="contacto">
        <h3></h3>
        <form method="POST" action="{% url 'crear_tipo' %}">
          {% csrf_token %}
          <p>
            <label>Nombre</label>
            <input type="text" name="nombre">
          </p>
          <p>
          <label class="campo-registro" for="idsubtipo">SubTipo</label>
          <select name="idsubtipo" id="idsubtipo" >
              {% for subtipos in subtipo %}
                  <option value="{{ subtipos.id }}">{{ subtipos.nombre }}</option>
              {% endfor %}
          </p>
          
        <p class="full">
            <label>Descripción</label>
            <textarea name="descripcion"></textarea>
          </p>
          <p>
          <p class="full">
            <button class="boton-enviar">Guardar</button>
          </p>
          

        </form>
      </div>
    </div>
  </div>
  {% if mensaje %}
  <div id="alert-alert-info">
    <p>{{ mensaje }}</p>
  </div>
  {% endif %}
  {% endblock %}
 