{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Actualizar Tipos{% endblock %}
{% block content %}

<style type="text/css">
  input[type="text"] {
    width: 60%;
    height: 40px;
    margin: 5px;
  }

  input[type="password"] {
    width: 40%;
    height: 40px;
  }

  input[type="number"] {
    width: 40%;
    height: 40px;
  }

  select {
    width: 60%;
    height: 40px;
    margin: 5px;
  }

  textarea {
    width: 70%;
    margin: 5px;
  }

  fieldset {
    width: 95%;
  }

  #alert-alert-info {
    top: 70vh;
  }
</style>
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<script src="{% static 'js/js_reportes/rpt_tipo.js' %}"></script>
<div class="contenedor">
  <h1 class="logo"><span class="nombre-empresa">Actualizar Tipos</span></h1>
  <div class="wrapper animated bounceInLeft">
    <div class="info-empresa">
      <h3>Medical Rescue</h3>
      <ul class="servicios">
        <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa,
        </li>
        <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
        <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
        <button class="button"><a href="/CLINICA/templates/Tipos/buscartipo.html">BUSCAR</a></button>
      </ul>
    </div>
    <div class="contacto">
      <h3></h3>
      <form method="POST" action="{% url 'actualizar_tipo' id=tipo.0.id %}">
        {% csrf_token %}
        <div style="display: flex ;width: 100%;height: 50px;">
          <div style="display: flex;width: 50%;">
            <label>Nombre</label>
            <input type="text" name="nombre" required value="{{tipo.0.nombre}}">
          </div>
          <div style="display: flex;width: 50%;">
            <label>Descripción</label>
            <textarea name="descripcion" required style="height: 40px;">{{tipo.0.descripcion}}</textarea>
          </div>
        </div>
        <div style="display: flex ;width: 100%;height: 50px;">
          <div style="display: flex;width: 50%;">
            <label class="campo-registro" for="idsubtipo">SubTipo</label>
            <select name="idsubtipo" id="idsubtipo" required onchange="activarInput()">
                <option value="0" {% if tipo.0.idsubtipo.id == 0 %}selected{% endif %}>Seleccione una opción</option>"
                {% for subtipos in subtipo %}
                    <option value="{{ subtipos.id }}"{% if subtipos.id == tipo.0.idsubtipo.id %}selected{% endif %} data-dato="{{subtipos.nombre}}">{{ subtipos.nombre }}</option>
                {% endfor %}
            </select>
          </div>
          <div style="display: flex;width: 50%;">
            <label>Precio</label>
            <input type="text" name="precio" id="precio" value="{{tipo.0.precio}}" placeholder="00.00" min="0"  step="10" oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" style="width: 70%;margin-left: 45px;">                  
          </div>
        </div>
        <div style="display: flex ;width: 100%;height: 50px;">
          <div style="display: flex;width: 50%;">
            <label class="campo-registro" for="idImpuesto">Impuesto</label>
            <select name="idImpuesto" id="idImpuesto" required onchange="activarInputImpuesto()">
                <option value="0" {% if tipo.0.idImpuesto.id == '0' %}selected{% endif %}>Seleccione una opción</option>"
                {% for impuesto in impuestos %}
                    <option value="{{ impuesto.id }}"{% if impuesto.id == tipo.0.idImpuesto.id %}selected{% endif %} data-dato="{{impuesto.valor}}">{{ impuesto.nombre }}</option>
                {% endfor %}
            </select>
          </div>
          <div style="display: flex;width: 50%;">
            <label>Valor</label>
            <input type="text" name="valorImpuesto" id="valorImpuesto" disabled  placeholder="00.00" min="0"  step="10" oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" style="width: 70%;margin-left: 45px;">                  
          </div>
        </div>
          <button class="boton-enviar">Actualizar</button>
      </form>
    </div>
  </div>
</div>
{% if mensaje %}
<div id="alert-alert-info">
  <p>{{ mensaje }}</p>
</div>
{% endif %}
<script>
  window.addEventListener("load", function() {
    activarInput();
    activarInputImpuesto();
  });
  function activarInput() {
  var select = document.getElementById("idsubtipo");
  var input = document.getElementById("precio");
  var sel = document.getElementById("idImpuesto");
  var inputImpuesto = document.getElementById("valorImpuesto");
  var opcionSeleccionada = select.options[select.selectedIndex];
  var dato = opcionSeleccionada.getAttribute("data-dato");
  
    if (dato === "examen" || dato === "tratamiento" || dato === "consulta") {
      input.removeAttribute("disabled");
      sel.removeAttribute("disabled");
    } else {
      input.setAttribute("disabled", "disabled");
      sel.setAttribute("disabled", "disabled");
      input.value = "00.00"
    }
  }
function activarInputImpuesto() {
  var select = document.getElementById("idImpuesto");
  var input = document.getElementById("valorImpuesto");
  var opcionSeleccionada = select.options[select.selectedIndex];
  var dato = opcionSeleccionada.getAttribute("data-dato");
  
  if (dato === "0") {
    input.removeAttribute("disabled");
  } else {
    input.setAttribute("disabled", "disabled");
    input.value = dato;
  }
}
</script>
{% endblock %}