{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Actualizacion de Muestras{% endblock %}
{% block content %}
<style type="text/css">
  input[type="text"] {
    width: 90%;
    height: 40px;
  }
  input[type="datetime-local"] {
        width: 90%;
        height: 40px;
        text-align: center;
  }
  select {
    width: 90%;
    height: 40px;
  }
  #alert-alert-info {
    top: 75vh;
  }
  .boton-enviar{
    margin-top: 20px;
  }
</style>
<div class="contenedor">
  <h1 class="logo"><span class="nombre-empresa">Actualizar Traslados</span></h1>
  <div class="wrapper animated bounceInLeft">
    <div class="info-empresa">
      <h3>Medical Rescue</h3>
      <ul class="servicios">
        <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
        <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
        <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
        <button class="button"><a href="/CLINICA/templates/Traslados/buscar_traslado.html">Buscar</a> </button>
      </ul>
    </div>
    <div class="contacto">
      <h3></h3>


      <form method="POST" action="{% url 'actualizar_traslados' id=traslados.0.id %}">
        {% csrf_token %}

        <div style="display: inline-flex ;width: 100%">
          <div style="display: block;width: 100%">
          <label class="campo-registro" for="idTipoDocument1">Informacion de Paciente</label>
          <select name="idPaciente" id="idPaciente">
          <option value="0" {% if registro_temp.idPaciente == '0' %}selected{% endif %}>Seleccione una opción</option>"
          {% for pacientes in pacientes_list %}
                <option value="{{ pacientes.id }}"{% if pacientes.id == pacientes.0.idPaciente.id %}selected{% endif %}>{{ pacientes.nombre }} {{ pacientes.apellido }} - {{ pacientes.documento }}</option>
                {% endfor %}
              </select>
            </div>
          </div>



        <div style="display: inline-flex ;width: 100%">
        <div style="display: block;width: 100%">
        <label class="campo-registro" for="idTipoDocument1">Autorizacion</label>
        <select name="idAutorizacionPaciente" id="idAutorizacionPaciente">
        <option value="0" {% if registro_temp.idAutorizacionPaciente == '0' %}selected{% endif %}>Seleccione una opción</option>"
        {% for autorizacion in autorizacion_list %}
              <option value="{{ autorizacion.id }}"{% if autorizacion.id == autorizacion.0.idAutorizacionPaciente.id %}selected{% endif %}>{{ autorizacion.id }} {{ autorizacion.motivos }} </option>
              {% endfor %}
            </select>
          </div>
        </div>

        

          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
            <label class="campo-registro" for="idTipoDocument1">Empleado</label>
            <select name="idEmpleado" id="idEmpleado">
            <option value="0" {% if registro_temp.idEmpleado == '0' %}selected{% endif %}>Seleccione una opción</option>"
            {% for empleado in empleado_list %}
            <option value="{{ empleado.id }}"{% if empleado.id == empleado.0.idEmpleado.id %}selected{% endif %}>{{ emepleado.id }} {{ empleado.nombre }} {{ empleado.apellidos }} </option>
              {% endfor %}
            </select>
          </div>
        </div>


          <div style="display: inline-flex ;width: 70%">
            <div style="display: block;width: 70%">
              <label class="campo-registro">Nombre (Lugar)</label>
              <input type="text" name="nombre" required value="{{ traslados.0.nombre }}">
            </div>
          </div>

          

          <div style="display: inline-flex ;width: 70%">
          <div style="display: block;width: 70%">
              <label  class="campo-registro"  style="position: relative; bottom: 61px; left:310px ; " > Teléfono</label>
              <input type="text" name="telefono" style="position: relative; bottom: 65px; left:310px ; " required value="{{ traslados.0.telefono }}">
            </div>
          </div>
          

          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro"  style="position: relative; bottom: 61px;" >Dirección</label>
            <input type="text" name="direccion" style="position: relative; bottom: 65px;"  required value="{{ traslados.0.direccion }}">
            </div>
          </div>


        <p class="full">
          <button class="boton-enviar" style="position: relative; bottom: 65px;">Actualizar</button>
        </p>
      </form>

{% if mensaje %}
<div id="alert-alert-info">
  <p>{{ mensaje }}</p>
</div>
{% endif %}


{% endblock %}