.body-inicio{
    background-color: #82b3b3;
}
.container-menu-nav{
    width: 100vh;
    position: absolute; 
}
.nav-menu-nav{
    position: absolute;
    background-color: #022e2c;
    text-align: center;
    display: flex;
    width: 79vmax;
    height: 50px;
    left: 21.8vmax;
}
.nav-menu-nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding:10px
}
.nav-menu-nav a:hover{
    border-bottom: 1px solid tomato;;
}
.nav-menu-nav ul{
    margin-left: 50%;
}
.conte-inicio{
    position:absolute;
    left:50vh;
    top:50px;
    width: 200vh;
    bottom: 10px;
    max-height: 95%;
    overflow-y: scroll ;
    font-size:17px;

   
}
.container-inicio{
    max-width: 1000px;
    width: 150vh;
    margin: auto;
    left: -75vmax;
    top: 8vh;
}
.titulo-inicio{
    padding-left: 8%;
}
#informacion-inicio .container-inicio{
    display: relative;
    align-items: flex-end;
    padding-left: 15%;
}
#descripcion-inicio .container-inicio{
    display: flex;
    align-items: flex-end;
    padding-left: 0;
}
#descripcion2-inicio .container-inicio{
    display: flex;
    align-items: flex-end;
    padding-left: 0;
}






