{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Examenes{% endblock %}
{% block content %}
<style type="text/css">
  input[type="text"] {
    width: 90%;
    height: 40px;
  }
  input[type="datetime-local"] {
        width: 90%;
        height: 40px;
        text-align: center;
  }
  select {
    width: 90%;
    height: 40px;
  }
  #alert-alert-info {
    top: 75vh;
  }
  .boton-enviar{
    margin-top: 20px;
  }
</style>
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<script src="{% static 'js/js_reportes/rpt_resultado.js' %}"></script>
<div class="contenedor">
  <h1 class="logo"><span class="nombre-empresa">Resultados Medical Rescue</span></h1>
  <div class="wrapper animated bounceInLeft">
    <div class="info-empresa">
      <h3>Medical Rescue</h3>
      <ul class="servicios">
        <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
        <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
        <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
        <button class="button"><a href="/CLINICA/templates/Resultados/BuscarResultados.html">Buscar</a> </button>
      </ul>
    </div>
    <div class="contacto">
      <h3></h3>
      <form method="POST" action="{% url 'crear_resultados' %}">
        {% csrf_token %}
        <div style="display: inline-flex ;width: 100%">
          <div style="display: block;width: 100%">
            <label class="campo-registro" for="idTipoDocument1">Tratamiento</label>
            <select name="idTratamiento" id="idTratamiento">
              <option value="0" {% if registro_temp.idTratamiento == '0' %}selected{% endif %}>Seleccione una opción</option>"
              {% for tratamiento in tratamiento_list %}
              <option value="{{ tratamiento.id }}"{% if tratamiento.id == registro_temp.idTratamiento %}selected{% endif %}>{{ tratamiento.id }} - {{ tratamiento.idPaciente.nombre }} - {{ tratamiento.idTipo.nombre }} -  {{ tratamiento.fecha }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div style="display: inline-flex ;width: 100%">
          <div style="display: block;width: 100%">
            <label class="campo-registro">Observación</label>
            <input type="text" name="observacion" id="observacion" value="{{registro_temp.observacion}}" >
          </div>
        </div>


      <br></br>

        <div style="display: inline-flex ;width: 225%">
          <div style="display: block;width: 225%">
            <label class="campo-registro"  style="position: relative; bottom: 30px;" >fecha</label>
            <input type="date" name="fecha" id="fecha"  style="position: relative; right: 45px;" value="{{registro_temp.fecha}}" >
          </div>
        </div>
        
        
          
        
          
        <p class="full">
          <button class="boton-enviar" >Guardar</button>
        </p>
      </form>
    </div>
</div>    
 
{% if mensaje %}
<div id="alert-alert-info">
  <p>{{ mensaje }}</p>
</div>
{% endif %}

{% endblock %}