{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/stylesinicio.css' %}">
    <title>Informacion Usuarios</title>
</head>
<body class = "body-inicio">
    <header>{% include '../base_principal.html' %}
    </header>
    <div class = "conte-inicio">
        <section class="section-inicio" id="informacion">
            <div class="container-inicio">
                <div class="img-container-inicio">
                    <img src="{% static 'img/images/imguser1.png' %}" alt="No se encontró la imagen">
                </div>
                <div class="titulo">
                    <h1 class="-inicio">Gestión de Usuarios</h1>
                </div>
            </div>
        </section class="section-inicio">
        <section class="section-inicio" id="descripcion">
            <div class="container-inicio">
                <div class="texto-inicio">
                    <h2>Objetivo</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>                   
                </div>
            </div>
        </section class="section-inicio">
    <section class="section-inicio" id="descripcion2">
        <div class="container-inicio">
            <div class="texto-inicio">
                <h2 class="-inicio">Accesibilidad</h2>
                <ol>
                    <li><h3>Registros de usuarios</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    <li><h3>Actualizacion de informacion</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    <li><h3>Eliminar registros</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    <li><h3>Busqueda de registros</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos repudiandae nisi cum ad molestiae inventore qui, accusamus porro voluptatum aliquam fugiat voluptate omnis totam distinctio facere adipisci doloribus non!</p>
                    </li>
                    
                </ol>
                
            </div>
            <div class="img-container"><img src="{% static 'img/images/imguser2.png' %}" alt="No se encontró la imagen"></div>
        </div>
    </section class="section-inicio">
</div>
<body>

</html>
        