{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/stylesinicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/navbar_usuarios.css' %}">
    <title>Informacion Usuarios</title>
</head>
<body class = "body-inicio">
    <div class = "conte-inicio">
        <section class="section-inicio" id="informacion">
            <div class="container-inicio">
                <div class="img-container-inicio">

                </div>
                <div class="titulo">
                    <h1 class="-inicio"></h1>
                </div>
            </div>
        </section class="section-inicio">
        <section class="section-inicio" id="descripcion">
            <div class="container-inicio">
                <div class="texto-inicio">
                    <h2></h2>
                    <p class="p1">
                    
                        
                        
                        </p>                  
                </div>
            </div>
        </section class="section-inicio">
    <section class="section-inicio" id="descripcion2">
        <div class="container-inicio">
            <div class="texto-inicio">
                <h2 class="-inicio">MEDICAL RESCUE</h2>
                <ul>
                    <li>
                        <p>Bienvenidos a nuestra clínica médica, donde nos preocupamos por la salud y bienestar de nuestros pacientes. En nuestra clínica encontrarás una amplia variedad de servicios de salud</p>
                    </li>
                    <li><h3>Compromiso</h3>
                        <p>Además de nuestra atención médica, también estamos comprometidos con la educación y el bienestar de nuestros pacientes. Ofrecemos programas educativos y de capacitación para ayudar a nuestros pacientes a comprender mejor su condición médica y cómo manejarla de manera efectiva.</p>
                    </li>
                    <li><h3>Servicios</h3>
                        <p>En Medical Rescue, también nos enorgullece ofrecer servicios de salud integrales que van más allá de la atención médica básica. Ofrecemos programas de bienestar y nutrición, terapias alternativas y otros servicios complementarios para ayudar a nuestros pacientes a alcanzar una salud óptima en todas las áreas de su vida.</p>
                    </li>
                    <li><h3></h3>
                        <p>En resumen, en Medical Rescue nos dedicamos a proporcionar atención médica de calidad, educación y servicios de salud integrales a nuestros pacientes. ¡Contáctanos hoy mismo para programar tu próxima cita!</p>
                    </li>
                    
                    
                </ul>
                
            </div>
        </div>
    </section class="section-inicio">
</div>
<div class="container-menu-nav">
    <nav class = "nav-menu-nav">
        <ul>
            <a href="/CLINICA/templates/usuario/inicio.html">Inicio</a>
            <a href="/CLINICA/templates/usuario/registro.html">Registrar Usuarios</a>
            <a href="/CLINICA/templates/usuario/listar.html">Visualizar Registros</a>
        </ul>
    </nav>
</div>
{% include 'base_principal.html' %}
<body>
</html>
        