{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}USUARIOS{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div class="contenedor-listar-campos">
    <h1 class="h1-listar">Registro de Usuarios</h1>
    <div class="busqueda-listar">
        <form method="GET" action="{% url 'buscar_usuarios' %}">
            {% csrf_token %}
            <div class="buscador-listar">
                <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Usuario">
            </div>
            <div class="btnBusqueda-listar">
                <input id="btnBuscarUsuario " type="submit" value="Buscar">
            </div>
        </form>
        <a class="btn-agregar" href="/CLINICA/templates/usuario/registro.html" class="btn-agregar-link">Agregar</a>
    </div>
    <div class="container-listar">
        <div class="tabla-listar">
            <table class="tftable-listar">
                <thead>
                    <tr class="tfheader-listar" ,border="1">
                        <th style="color:aliceblue">ID Usuario</th>
                        <th style="color:aliceblue">ID Empleado</th>
                        <th style="color:aliceblue">Nombre </th>
                        <th style="color:aliceblue">Contraseña</th>
                        <th style="color:aliceblue">Activo</th>
                        <th style="color:aliceblue">Bloqueado</th>
                        <th style="color:aliceblue">Fecha Creación</th>
                        <th style="color:aliceblue">Fecha Modificado</th>
                        <th style="color:aliceblue">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    {% if usuariosr %}
                    {% for usuario in usuariosr %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.idEmpleado_id }}</td>
                        <td>{{ usuario.nombreUsuario }}</td>
                        <td class="td" style="max-width: 200px; word-wrap: break-word;">{{ usuario.password }}</td>
                        <td>{{ usuario.activo }}</td>
                        <td>{{ usuario.bloqueado }}</td>
                        <td>{{ usuario.fechaCreacion }}</td>
                        <td>{{ usuario.fechaModificacion }}</td>
                        <td>
                            <form action="{% url 'abrir_actualizar_usuarios' %}" method="post" class="form-botones">
                                {% csrf_token %}
                                <input type="hidden" name="id_usuario" value="{{ usuario.id }}">
                                <button class="btnEditar" name="editar" id="editar">
                                    <img src="{% static 'img/icons/icedit.png' %}">
                                </button>
                            </form>
                            <form action="{% url 'eliminar_usuario' id=usuario.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id_usuario" value="{{ usuario.id }}">
                                <button class="btnEliminar" name="eliminar" id="eliminar">
                                    <img src="{% static 'img/icons/icdelete.png' %}">
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="9">No se encontraron usuarios.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}