{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/stylesregistro.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/navbar_usuarios.css' %}">
    <title>Registrar Usuarios</title>
</head>
<body clas="boby-registro">
    <div class="contenedor-registro">
        <div class="container-box-registro">
            <div class="container-box-registro">
                <div class="titulo-registro">
                    <h1 class = "h1-registro">Registro de Usuarios</h1>
                </div>
            </div>
            <div class="campos-registro">
                <div>
                    <h4 class="h4-registro">Ingrese la información requerida</h4>
                    <label class="campo-registro" for="idUsuariol">ID de Usuario</label>
                    <select name="idUsuariol" id="idUsuario">
                        <option value="value1">Seleccione un ID</option>
                    </select>
                </div>
                <div>
                    <label class="campo-registro" for="idEmpleadl">ID de Empleado</label>
                    <select name="idEmpleadl" id="idEmpleado">
                        <option value="value1">Seleccione un ID</option>
                    </select>
                </div>
                <div>
                <label class="campo-registro" for="user">Nombre de Usuario</label>
                <input type="text" name="user" id="username" placeholder="Nombre de Usuario">
            </div>
            <div>
                <label class="campo-registro" for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="estado-registro">
                <div>
                    <h4>Usuario activo</h4>
                    <div class="radio-container-registro">
                        <input type="radio" id="activar" name="activado" value="Activo"> 
                        <label class="rad-registro" for="activar">Activar</label>
                        <input type="radio"  id="noactivado" name="activado" value="No Activo"> 
                        <label class="rad-registro" for="noactivado">Desactivar</label>   
                    </div>
                </div>
                <div>
                    <h4>Bloqueo de usuario</h4>
                    <div class="radio-container">
                        <input type="radio" id="bloquear" name="bloqueo" value="Bloquear"> 
                        <label class="rad-registro" for="bloquear">Bloquear</label>
                        <input type="radio"  id="Desbloquear" name="bloqueo" value="Desbloquear"> 
                        <label class="rad-registro" for="Desbloquear">Desbloquear</label>   
                    </div>
                </div>
                <div class="botones-registro">
                    <input type="button" value="Limpiar">
                </div>
            </div>
            <div class="botones-registro">
                <input type="button" value="Actualizar">
                <input type="button" value="Registrar">
            </div>
        </div>
    </div>
</div>
</header>
<div class="container-menu-nav">
    <nav class = "nav-menu-nav">
        <ul>
            <a href="/CLINICA/templates/usuario/inicio.html">Inicio</a>
            <a href="/CLINICA/templates/usuario/registro.html">Registrar Usuarios</a>
            <a href="/CLINICA/templates/usuario/listar.html">Visualizar Registros</a>
        </ul>
    </nav>
</div>
{% include 'base_principal.html' %}
</body>
</html>