{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Usuarios{% endblock %}
{% block content %}
<style type="text/css">
    input[type="text"] {
        width: 90%;
        height: 40px;
    }

    input[type="password"] {
        width: 90%;
        height: 40px;
    }

    select {
        width: 90%;
        height: 40px;
    }
    fieldset{
        width: 95%;
    }
</style>
<div id="contenedor-reportes">
    <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
    <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
    <button id="exportarBtn" >Exportar Excel</button>
    <button id="exportBtn">Exportar PDF</button>
  </div>
  <script src="{% static 'js/js_reportes/rpt_usuarios.js' %}"></script>
<div class="contenedor">
    <h1 class="logo"><span class="nombre-empresa">Registro de Usuarios</span></h1>
    <div class="wrapper animated bounceInLeft">
        <div class="info-empresa">
            <h3>Medical Rescue</h3>
            <ul class="servicios">
                <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa,
                </li>
                <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
                <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
                <button class="button"><a href="/CLINICA/templates/usuario/listar.html">BUSCAR</a></button>
            </ul>
        </div>
        <div class="contacto">
            <h3></h3>
            <form method="POST" action="{% url 'crear_usuario' %}">
                {% csrf_token %}
                <div class="campos-registro" style="max-width: 600px;">
                    <div>
                        <h4 class="h4-registro">Ingrese la información requerida</h4>
                    </div>
                    <div style="display: inline-flex ;width: 100%;">
                        <div style="display: block;width: 100%">
                            <label class="campo-registro" for="idEmpleadl">Empleado</label>
                            <select name="idEmpleadl" id="idEmpleado">
                                {% for empleados in empleado %}
                                <option value="{{ empleados.id }}"{% if empleados.id == registro_temp.idEmpleado %}selected{% endif %}>{{ empleados.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="display: block;width: 100%">
                            <label class="campo-registro" for="user">Nombre de Usuario</label>
                            <input type="text" name="user" id="username" required value="{{registro_temp.nombreUsuario}}">
                        </div>
                    </div>
                    <div style="display: inline-flex ;width: 100%">
                        <div style="display: block;width: 100%">
                            <label class="campo-registro" for="password">Contraseña</label>
                            <input type="password" name="password" id="password" required value="{{registro_temp.password}}">
                        </div>
                        <div style="display: block;width: 100%">
                            <label class="campo-registro" for="password">Confirmar Contraseña</label>
                            <input type="password" name="passwordc" id="password" required value="{{registro_temp.passwordc}}">
                        </div>
                    </div>
                    <div style="display:inline-block;width: 100%">
                        <fieldset id="payment_method">
                            <legend>Activo/Inactivo</legend>
                            <div class="fieldgroup">
                                <input type="radio" id="activar" name="activado" value=1  {% if registro_temp.activo == 1 %} checked {% else %} checked {% endif %}>
                                <label class="rad-registro" for="activar">Activar</label>
                                <input type="radio" id="noactivado" name="activado" value=0 {% if registro_temp.activo == 0 %} checked {% endif %}>
                                <label class="rad-registro" for="noactivado">Desactivar</label>
                            </div>
                        </fieldset>
                        <fieldset id="payment_method">
                            <legend>Bloquear/Descbloquear</legend>
                            <div class="fieldgroup">
                                <input type="radio" id="bloquear" name="bloqueo" value=0  {% if registro_temp.bloqueado == 0 %} checked {% else %} checked {% endif %}>
                                <label class="rad-registro" for="bloquear">Desbloquear</label>
                                <input type="radio" id="Desbloquear" name="bloqueo" value=1 {% if registro_temp.bloqueado == 1 %} checked {% endif %}>
                                <label class="rad-registro" for="Desbloquear">Bloquear</label>
                            </div>
                        </fieldset>
                    </div>
                    <button class="boton-enviar">GUARDAR</button>
            </form>
        </div>
    </div>
</div>
{% if mensaje %}
<div id="alert-alert-info">
    <p>{{ mensaje }}</p>
</div>
{% endif %}
{% endblock %}