{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/stylesregistro.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/navbar_usuarios.css' %}">
    
    <title>Registrar Usuarios</title>
</head>
<body clas="boby-registro">
    <div class="contenedor-registro">
        <div class="container-box-registro">
            {% block content %}
            <form method="POST" action="{% url 'crear_usuario' %}">
            {% csrf_token %}
            <div class="container-box-registro">
                <div class="titulo-registro">
                    <h1 class = "h1-registro">Registro de Usuarios</h1>
                </div>
            </div>
            <div class="campos-registro" style="max-width: 600px;">
                <div>
                    <h4 class="h4-registro">Ingrese la información requerida</h4>
                </div>
                <div>
                    <label class="campo-registro" for="idEmpleadl" style="margin-top: 20px;">Empleado</label>
                    <select name="idEmpleadl" id="idEmpleado">
                        {% for empleados in empleado %}
                            <option value="{{ empleados.id }}">{{ empleados.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                <label class="campo-registro" for="user" style="margin-left:10px">Nombre de Usuario</label>
                <input type="text" name="user" id="username" style="margin-left:10px" required>
            </div>
            <div>
                <label class="campo-registro" for="password" style="margin-left:10px">Contraseña</label>
                <input type="password" name="password" id="password" style="margin-left:10px" required>
            </div>
            <div class="estado-registro">
                <div>
                    <h4 style="margin-left:10px">Usuario activo</h4>
                    <div class="radio-container-registro" style="margin-right: 10px;">
                        <input type="radio" id="activar" name="activado" value=1 > 
                        <label class="rad-registro" for="activar">Activar</label>
                        <input type="radio"  id="noactivado" name="activado" value=0 checked> 
                        <label class="rad-registro" for="noactivado">Desactivar</label>   
                    </div>
                </div>
                
                <div>
                    <h4 style="margin-left:10px">Bloqueo de usuario</h4>
                    <div class="radio-container" style="margin-left:10px">
                        <input type="radio" id="bloquear" name="bloqueo" value=0 checked> 
                        <label class="rad-registro" for="bloquear">Desbloquear</label>
                        <input type="radio"  id="Desbloquear" name="bloqueo" value=1> 
                        <label class="rad-registro" for="Desbloquear">Bloquear</label>   
                    </div>
                </div>
            </div>
            <div class="botones-registro">
                <input type="submit" value="Guardar">
            </div>
            </form>
            {% if mensaje %}
                <div class="alert alert-info" style="color:rgb(255, 255, 255);font-size: 20px;">{{ mensaje }}</div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
</header>
<div class="container-menu-nav">
    <nav class = "nav-menu-nav">
        <ul>
            <a href="/CLINICA/templates/usuario/inicio.html">Inicio</a>
            <a href="/CLINICA/templates/usuario/registro.html">Registrar Usuarios</a>
            <a href="/CLINICA/templates/usuario/listar.html">Visualizar Registros</a>
        </ul>
    </nav>
</div>
{% include 'base_principal.html' %}
</body>
</html>