{% extends 'presentacion/usuariologin.html' %}
{% load static %}
{% block title %}REGISTRO{% endblock %}
{% block content %}
<style type="text/css" >
    .control-buttons{
    position: relative;
    left:calc(-10%);
    top:calc(-40%);
    width: 500px;
}
#idEmpleado{
    width: 100%;
    height:40px;
    margin-bottom:5px;
    background:rgba(175, 172, 168, 0.541);
}
#idEmpleado:hover{
    background:rgba(211, 207, 203, 0.541);
}
.container-box{
    width: 400px;
    height: 500px;
    max-width: 400px;
    margin-top: 15px;
    
}

.control-buttons a{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.2rem;
    margin: 2px;
    text-decoration: none;
    color: rgb(39, 37, 37);
}
.control-buttons .in{
    z-index: 0;
    position: relative;
    background-color: rgba(226, 214, 198, 0.768);

}
.control-buttons .up{
    z-index: 1;
    position: relative;
    background-color: rgb(203, 181, 152);
}
@media(max-width:700px){
    .control-buttons{
        position: relative;
        left:calc(20%);
        top:calc(-40%);
        width: 500px;
    }
}

.alert-alert-info{
   position:relative;
   z-index: 1;
   left:-350px;
   top:191px;
   max-width: 300px;
   color: #fff;
   font-weight: bold;
   text-align: start;
}
.alert-alert-info {
    opacity: 1;
    animation: desvanecer 3s linear forwards 3s;
  }
  @keyframes desvanecer {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
</style>
<form action="{% url 'registrar_login' %}" method="post">
    {% csrf_token %}
    <div class="container-box">
        <div class="texto">
            <div class="logo"></div>
            <h1>Registro</h1>
        </div>
        <div class="user">
            <label class="campo-registro" for="idEmpleadl" style="margin-top: 20px;">Empleado Relacionado</label>
            <select name="idEmpleadl" id="idEmpleado">
                {% for empleados in empleado %}
                    <option value="{{ empleados.id }}">{{ empleados.nombre }}</option>
                {% endfor %}
            <label for="username">Nombre de Usuario</label>
            <input type="text" name="username" placeholder="Ingresar Usuario">
            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Ingresar Contraseña">
            <label for="passwordc">Confirmar Contraseña</label>
            <input type="password" name="passwordc" placeholder="Ingresar Contraseña">
            <input type="submit" value="Entrar">
        </div>
        <div class="registrar">
        </div>
    </div>
</form>
    {% if mensaje %}
        <div class="alert-alert-info" style="color:rgb(255, 255, 255);display: block;">{{ mensaje }}</div>
    {% endif %}
{% endblock %}