{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}RECAUDO DETALLES{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<script src="{% static 'js/js_reportes/rpt_detalle_recaudo_tratamiento.js' %}"></script>
<div class="contenedor-listar-campos">
  <h1 class="h1-listar">Recaudo Detalle Tratamiento</h1>
  <div class="busqueda-listar">
    <form method="GET" action="{% url 'buscar_recaudo_detalle_tratamiento' %}">
      {% csrf_token %}
      <div class="buscador-listar">
        <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Numero Factura(Recaudo)">
      </div>
      <div class="btnBusqueda-listar">
        <input id="btnBuscarUsuario " type="submit" value="Buscar">
      </div>
    </form>
  </div>
  <div class="container-listar">
    <div class="tabla-listar">
      <table class="tftable-listar">
        <thead>
            <th style="color:aliceblue">ID</th>
            <th style="color:aliceblue">Recaudo</th>
            <th style="color:aliceblue">Tratamiento</th>
            <th style="color:aliceblue">Acción Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% if detalles %}
          {% for detalle in detalles %}
          <tr>
            <td>{{ detalle.id }}</td>
            <td>{{ detalle.idRecaudo.noFactura }} <br> {{ detalle.idRecaudo.estado }}</td>
            <td>{{ detalle.idTratamiento.tipo.nombre }}</td>
            <td>
              <form action="{% url 'eliminar_recaudo_detalle_tratamiento' id=detalle.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_detalle" value="{{ detalle.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icdelete.png' %}">
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4">No se encontraron detalles.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
{% endblock %}