{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Actualizar Cargo{% endblock %}
{% block content %}
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar a Excel</button>
  <button id="exportBtn">Exportar a PDF</button>
</div>
<div class="contenedor">
  <h1 class="logo"><span class="motivos-empresa">Actualizar Autorización</span></h1>
  <div class="wrapper animated bounceInLeft">
      <div class="info-empresa">
          <h3>Medical Rescue</h3>
          <ul class="servicios">
              <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa,
              </li>
              <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
              <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
              <button class="button"><a href="/CLINICA/templates/Autorizacion/buscarAutorizar.html">BUSCAR</a></button>
          </ul>
      </div>
      <div class="contacto">
          <h3></h3>
        <form method="POST" action="{% url 'actualizar_autorizacion' id=autorizar.0.id %}">
          {% csrf_token %}
          <p>
            <label>Motivo</label>
            <input type="text" name="motivos" value="{{ autorizar.0.motivos }}">
          </p>
          <fieldset id="payment_method" style="height: 70px;">
          <legend>Confirmación</legend>
          <div class="fieldgroup">
          <input type="radio" name="payment_method" id="activo" value=1 {% if autorizar.0.confirmacion == 1 %}checked {% endif %}><label for= "payment1">Si
          </label>
          </div>
          <div class="fieldgroup">
          <input type="radio" name="payment_method" id="inactivo" value=0 {% if autorizar.0.confirmacion == 0 %}checked {% endif %}><label for= "payment2">No</label>
          </div>
          </fieldset>
      
          </p>
          <p> 
          <p class="full">
            <button class="boton-enviar">Actualizar</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  {% if mensaje %}
    <div id="alert-alert-info">
        <p>{{ mensaje }}</p>
    </div>
  {% endif %}
  <script src="{% static 'js/js_reportes/rpt_autorizar.js' %}"></script>
  {% endblock %}