{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Autorizaciones de pacientes{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<div class="contenedor">
  <h1 class="logo"><span class="motivos-empresa">Autorizaciones Medical Rescue</span></h1>
  <div class="wrapper animated bounceInLeft">
    <div class="info-empresa">
      <h3>Medical Rescue</h3>
      <ul class="servicios">
        <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
        <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
        <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
        <button class="button"><a href="/CLINICA/templates/Autorizacion/buscarAutorizar.html">Buscar</a> </button>
      </ul>
    </div>
    <div class="contacto">
      <h3></h3>
      <form method="POST" action="{% url 'crear_autorizacion' %}">
        {% csrf_token %}
        <p>
          <label>motivos</label>
          <input type="text" name="motivos" style="height: 50px; width: 350px;" value="{{registro_temp.motivos}}">
        </p>
        <fieldset id="payment_method">
          <legend>Confirmación</legend>
          <div class="fieldgroup">
            <input type="radio" name="payment_method" id="activo" value=1 {% if registro_temp.confirmacion == 1 %} checked {% else %} checked {% endif %}><label for="payment1">Si
            </label>
          </div>
          <div class="fieldgroup">
            <input type="radio" name="payment_method" id="inactivo" value=0  {% if registro_temp.confirmacion == 0 %} checked {% endif %}><label
              for="payment2">No</label>
          </div>
        </fieldset>
        

        <p class="full">
          <button class="boton-enviar" >Guardar</button>
        </p>
      </form>
    </div>
  </div>
</div>
{% if mensaje %}
<div id="alert-alert-info">
  <p>{{ mensaje }}</p>
</div>
{% endif %}
<script src="{% static 'js/js_reportes/rpt_autorizar.js' %}"></script>
{% endblock %}