{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Autorizaciones{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div class="contenedor-listar-campos">
    <h1 class="h1-listar">Registros de Autorizaciones de pacientes</h1>
    <div class="busqueda-listar">
        <form method="GET" action="{% url 'buscar_autorizacion' %}">
            {% csrf_token %}
            <div class="buscador-listar">
                <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o motivos">
            </div>
            <div class="btnBusqueda-listar">
                <input id="btnBuscarUsuario " type="submit" value="Buscar">
            </div>
        </form>
        <a class="btn-agregar" href="/CLINICA/templates/Autorizacion/Autorizar.html" class="btn-agregar-link">Agregar</a>
    </div>
    <div class="container-listar">
            <div class="tabla-listar">
                <table class="tftable-listar" ,border="1">
                    <tr class="tfheader-listar">
                        <th style="color:aliceblue">ID Autorizacion Paciente</th>
                        <th style="color:aliceblue">Motivos</th>
                        
                        <th style="color:aliceblue">Confirmacion</th>
                        <th style="color:aliceblue">Acciones</th>
                    </tr>
                    {% if autorizar %}
                    {% for autorizacion in autorizar %}
                    <tr>
                        <td>{{ autorizacion.id }}</td>
                        <td>{{ autorizacion.motivos }}</td>
                        <td>{{ autorizacion.confirmacion }}</td>
                        <td> 
                            <form action="{% url 'abrir_actualizar_autorizacion' %}" method="post" class="form-botones">
                                {% csrf_token %}
                            <input type="hidden" name="id_autorizar" value="{{ autorizacion.id }}">
                            <button class="btnEditar" name="editar" id="editar">
                                  <img src="{% static 'img/icons/icedit.png' %}">
                            </button>
                            </form>
                            <form action="{% url 'eliminar_autorizacion' id=autorizacion.id  %}"  method="post">
                                {% csrf_token %}
                            <input type="hidden" name="id_autorizar" value="{{ autorizacion.id }}">
                            <button class="btnEliminar" name="eliminar" id="eliminar">
                              <img src="{% static 'img/icons/icdelete.png' %}">
                            </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5">No se encontraron cargos.</td>
                      </tr>
                    {% endif %}
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}