{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Autorizaciones{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
    {% if 'exportar' in datos_permisos.0.idPantallas.autorizacion %}
    <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
    <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
    <button id="exportarBtn" >Exportar Excel</button>
    <button id="exportBtn">Exportar PDF</button>
    {% else %}
    <a href="#" class="activarFormulario">Exportar</a>
  {% endif %}
  </div>
<div class="contenedor-listar-campos">
    <h1 class="h1-listar">Registros de Autorizaciones de pacientes</h1>
    <div class="busqueda-listar">
        <form method="GET" action="{% url 'buscar_autorizacion' %}">
            {% csrf_token %}
            <div class="buscador-listar">
                <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o motivos">
            </div>
            {% if 'buscar' in datos_permisos.0.idPantallas.autorizacion %}
            <div class="btnBusqueda-listar">
                <input id="btnBuscarUsuario " type="submit" value="Buscar">
              </div>
                {% else %}
                <a href="#" class="activarFormulario" style="color: black;">Buscar</a>
              {% endif %}
        </form>
        <a class="btn-agregar" href="/CLINICA/templates/Autorizacion/Autorizar.html" class="btn-agregar-link">Agregar</a>
    </div>
    <div class="container-listar">
            <div class="tabla-listar">
                <table class="tftable-listar" ,border="1">
                    <tr class="tfheader-listar">
                        <th style="color:aliceblue">ID Autorizacion Paciente</th>
                        <th style="color:aliceblue">Motivos</th>
                        
                        <th style="color:aliceblue">Confirmación</th>
                        <th style="color:aliceblue">Acciones</th>
                    </tr>
                    {% if autorizar %}
                    {% for autorizacion in autorizar %}
                    <tr>
                        <td>{{ autorizacion.id }}</td>
                        <td>{{ autorizacion.motivos }}</td>
                        <td>{{ autorizacion.confirmacion }}</td>
                        <td> 
                            {% if 'actualizar' in datos_permisos.0.idPantallas.autorizacion %}
                            <form action="{% url 'abrir_actualizar_autorizacion' %}" method="post" class="form-botones">
                                {% csrf_token %}
                            <input type="hidden" name="id_autorizar" value="{{ autorizacion.id }}">
                            <button class="btnEditar" name="editar" id="editar">
                                  <img src="{% static 'img/icons/icedit.png' %}">
                            </button>
                            </form>
                            {% else %}
                            <a href="#" class="activarFormulario" style="background-position: left top;"></a>
                          {% endif %}
                            {% if 'eliminar' in datos_permisos.0.idPantallas.autorizacion %}
                            <form action="{% url 'eliminar_autorizacion' id=autorizacion.id  %}"  method="post">
                                {% csrf_token %}
                            <input type="hidden" name="id_autorizar" value="{{ autorizacion.id }}">
                            <button class="btnEliminar" name="eliminar" id="eliminar">
                              <img src="{% static 'img/icons/icdelete.png' %}">
                            </button>
                            </form>
                            {% else %}
                            <a href="#" class="activarFormulario" style="background-position: left top;"></a>
                          {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5">No se encontraron Autorizaciones de pacientes.</td>
                      </tr>
                    {% endif %}
            </table>
        </div>
        </div>
    </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
<script src="{% static 'js/js_reportes/rpt_autorizar.js' %}"></script>
{% endblock %}