{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Sintomas{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recaudo_modal.css' %}">
<div class="contenedor">
    <h1 class="logo"><span class="nombre-empresa">Recaudo</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="info-empresa">
        <h3>Medical Rescue</h3>
        <ul class="servicios">
          <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
          <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
          <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
          <button class="button"><a href ="/CLINICA/templates/citas/cita_buscar.html">Buscar</a> </button>
        </ul>
      </div>
      <div class="contacto">
        <form method="POST" action="" id="myform">
          {% csrf_token %}
          <input type="hidden" id="medicamentosSeleccionadosInput" name="medicamentosSeleccionados">
          <input type="hidden" id="tratamientosSeleccionadosInput" name="tratamientosSeleccionados">
          <input type="hidden" id="examenesSeleccionadosInput" name="examenesSeleccionados">
          <div style="display: inline-flex ;width: 100%">
          <div style="display: inline-grid;width: 100%">
            <input type="hidden" name="fechaActual" id="fechaActual">
            <label class="campo-registro">Fecha de Registro</label>
            <input type="text" name="fechaRegistro" id="fechaRegistro" readonly value="{{registro_temp.fechaActual}}" min="01/01/2000T00:00" max="31/12/2030T23:59">
          </div>
          <div style="display: inline-grid;width: 100%">
            <label class="campo-registro">Correlativo</label>
            <select name="idCorrelativo" id="idCorrelativo">
                {% for sar in sar_list %}
                    <option value="{{ sar.id }}"{% if sar.id == registro_temp.idCorrelativo %}selected{% endif %}>{{ sar.id }} - {{ sar.cai }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: inline-grid;width: 100%">
              <label class="campo-registro">Cliente</label>
              <select name="idPaciente" id="idPaciente">
                  <option value="0" {% if registro_temp.idPaciente == '0' %}selected{% endif %}>Consumidor Final</option>"
                  {% for pacientes in pacientes_list %}
                      <option value="{{ pacientes.id }}"{% if pacientes.id == registro_temp.idPaciente %}selected{% endif %}>{{ pacientes.id }} - {{ pacientes.nombre }} {{ pacientes.apellido}}</option>
                  {% endfor %}
              </select>
            </div>
            <div style="display: inline-grid;width: 100%">
                <label class="campo-registro">Empleado</label> 
                <input type="hidden" name="idEmpleado" id="idEmpleado" value="{{ empleados_list.0.id }}">
                <input type="text" readonly name="empleado" id="empleado" value="{{ empleados_list.0.id }} - {{ empleados_list.0.nombre }} {{ empleados_list.0.apellidos}}">
              </div>
          </div>
          <div style="max-height: 200px;overflow-y: scroll;margin-top:50px">
          <div style="display: inline-grid;width: 100%;">
            <label class="campo-registro">Consulta</label>
            <select name="idConsulta" id="idConsulta" style="width: 95%;" onchange="guardarConsulta()">
                <option value="0" {% if registro_temp.idConsulta == '0' %}selected{% endif %} data-precio="00.00" data-impuesto="00.00">Seleccione una opción</option>"
                {% for consulta in consultas_list %}
                    <option value="{{ consulta.id }}"{% if consulta.id == registro_temp.idConsulta %}selected{% endif %} data-precio="{{consulta.idTipo.precio}}" data-impuesto="{{consulta.idTipo.impuesto}}">{{ consulta.id }} - {{ consulta.idTipo.nombre }} : {{ consulta.idCita.idPaciente.documento}}</option>
                {% endfor %}
            </select>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: inline-grid;width: 100%;">
              <label class="campo-registro">Metodo de Pago</label>
              <select name="idMetodo" id="idMetodo" onchange="activarInput()">
                  <option value="0" {% if registro_temp.idMetodo == '0' %}selected{% endif %}>Seleccione una opción</option>"
                  {% for metodo in metodo_list %}
                      <option value="{{ metodo.id }}"{% if metodo.id == registro_temp.idMetodo %}selected{% endif %} data-nombre="{{ metodo.nombre }}">{{ metodo.id }} - {{ metodo.nombre }}</option>
                  {% endfor %}
              </select>
            </div>
            <div style="display: inline-grid;width: 100%;">
              <label>Monto Efectivo</label>
              <input type="text" name="montoEfectivo" id="montoEfectivo" value="{{registro_temp.montoEfectivo}}" placeholder="00.00" min="0"  step="10">                  
             </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: inline-grid;width: 100%;">
              <label>Numero Tarjeta</label>
              <input type="text" name="numeroTarjeta" id="numeroTarjeta" value="{{registro_temp.numeroTarjeta}}">                  
             </div>
            <div style="display: inline-grid;width: 100%;">
              <label>Monto Tarjeta</label>
              <input type="text" name="montoTarjeta" id="montoTarjeta" value="{{registro_temp.montoTarjeta}}" placeholder="00.00" min="0"  step="10"  oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" >                  
             </div>
          </div>
          <div style="display: inline-grid;width: 100%;">
            <label>Subtotal</label>
            <input type="text" name="subtotal" id="subtotal" style="width: 95%;" value="{{registro_temp.precio}}" placeholder="00.00" min="0"  step="10" readonly oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" >                  
           </div>
           <div style="display: inline-grid;width: 100%;">
            <label>Impuesto</label>
            <input type="text" name="imp" id="imp" value="{{registro_temp.imp}}" style="width: 95%;" placeholder="00.00" min="0"  step="10" readonly oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" >                  
           </div>
           <div style="display: inline-flex ;width: 100%">
           <div style="display: inline-grid;width: 100%;">
            <label>Total</label>
            <input type="text" name="total" id="total" value="{{registro_temp.precio}}" placeholder="00.00" min="0"  step="10" readonly oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" >                  
           </div>
           <div style="display: inline-grid;width: 100%;">
            <label>Cambio</label>
            <input type="text" name="cambio" id="cambio" value="{{registro_temp.cambio}}" placeholder="00.00" min="0"  step="10" readonly oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" >                  
           </div>
          </div>
          </div>
          <p class="full">
            <button class="boton-enviar" style="margin-top:10px">Guardar</button>
          </p>

        </form>
      </div>
    </div>
</div>
<div style="display: inline-flex ;width: 100%;position: fixed; left:650px; top:290px;">
    <button class="boton-agregar" id="miBotonAbrir1">Medicamentos</button>
    <button class="boton-agregar" id="miBotonAbrir2">Tratamientos</button>
    <button class="boton-agregar" id="miBotonAbrir3">Examenes</button>
</div>

    <!-- Ventana modal 1 -->
    <div id="miVentanaModal1" class="modal">
      <input type="hidden" id="totalMedicamentos" name="totalMedicamentos">
    <div class="modal-contenido">
        <span class="cerrar">&times;</span>

        <div>
            <label class="campo-registro">Medicamentos</label>
            <select name="idMedicamento" id="idMedicamento">
                <option value="0" selected>Seleccione una opción</option>"
                {% for item in medicamentos_list %}
                <option value="{{ item.id }} - {{ item.nombre }} - {{ item.precioVenta }} - {{ item.idImpuesto.nombre }} - 1" data-precio="{{ item.precioVenta }}">{{item.id}}&#41 {{ item.nombre }}</option>
                {% endfor %}
            </select>
            <button class="boton-agregar-modal" id="myButtonMedicamento" onclick="guardarMedicamento()">Agregar Medicamento</button>
        </div>


        <div style="max-height: 200px;overflow-y: scroll;height:200px">
            <table id="myTableMedicamento" style="max-height: 300px;overflow-y: scroll;">
                <thead>
                  <tr>
                    <th style="width: 50%;">Medicamentos <br> ID - Nombre - Precio - Impuesto</th>
                    <th style="width: 50%;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Aquí se agregarán las filas de la tabla con los datos de la lista -->
                </tbody>
              </table>
            </div>   
        </div>

    </div>
    </div>

    <!-- Ventana modal 2 -->
    <div id="miVentanaModal2" class="modal">
      <input type="hidden" id="totalTratamientos" name="totalTratamientos">
    <div class="modal-contenido">
        <span class="cerrar">&times;</span>
         
        <div>
            <label class="campo-registro">Tratamientos</label>
            <select name="idTratamiento" id="idTratamiento">
                <option value="0" selected>Seleccione una opción</option>"
                {% for item in tratamientos_list %}
                <option value="{{ item.id }} - {{ item.idTipo.nombre }} - {{ item.idTipo.precio }} - {{ item.idTipo.impuesto }}" data-precio="{{ item.idTipo.precio }}">{{item.id}}&#41 {{ item.idTipo.nombre }}:{{ item.idPaciente.nombre }} {{ item.idPaciente.documento }}</option>
                {% endfor %}
            </select>
            <button class="boton-agregar-modal" id="myButtonTratamiento" onclick="guardarTratamiento()">Agregar Tratamiento</button>
        </div>

        <div style="max-height: 200px;overflow-y: scroll;height:200px">
            <table id="myTableTratamiento" style="max-height: 300px;overflow-y: scroll;">
                <thead>
                  <tr>
                    <th style="width: 50%;">Tratamientos <br> ID - Nombre - Precio - Impuesto</th>
                    <th style="width: 50%;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Aquí se agregarán las filas de la tabla con los datos de la lista -->
                </tbody>
              </table>
            </div>   
        </div>

    </div>
    </div>

    <!-- Ventana modal 3 -->
    <div id="miVentanaModal3" class="modal">
      <input type="hidden" id="totalExamenes" name="totalExamenes">
    <div class="modal-contenido">
        <span class="cerrar">&times;</span>
         
        <div>
            <label class="campo-registro">Examenes</label>
            <select name="idExamen" id="idExamen">
                <option value="0" selected>Seleccione una opción</option>"
                {% for item in examenes_list %}
                <option value="{{ item.id }} - {{ item.idTipo.nombre }} - {{ item.idTipo.precio }} - {{ item.idTipo.impuesto }}" data-precio="{{ item.idTipo.precio }}">{{item.id}}&#41{{ item.idTipo.nombre }}:{{ item.idMuestra.idPaciente.nombre }} {{ item.idMuestra.idPaciente.documento }}</option>
                {% endfor %}
            </select>
            <button class="boton-agregar-modal" id="myButtonExamen" onclick="guardarExamen()">Agregar Examen</button>
        </div>

        <div style="max-height: 200px;overflow-y: scroll;height:200px">
            <table id="myTableExamen" style="max-height: 300px;overflow-y: scroll;">
                <thead>
                  <tr>
                    <th style="width: 50%;">Examenes <br> ID - Nombre - Precio - Impuesto</th>
                    <th style="width: 50%;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Aquí se agregarán las filas de la tabla con los datos de la lista -->
                </tbody>
              </table>
            </div>   
        </div>

    </div>
    </div>

    {% if mensaje %}
    <div id="alert-alert-info">
        <p>{{ mensaje }}</p>
    </div>
    {% endif %}
    <script src="{% static 'js/recaudo_modal.js' %}"></script>
    <script src="{% static 'js/recaudo_detalles.js' %}"></script>
    <script src="{% static 'js/estaticos.js' %}"></script>
{% endblock %}