{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">

    </head>
    <body class="body-principal">
        <link rel="stylesheet" href="{% static 'css/base_principal.css' %}">
        <div class="container-base">
            <header>
                <div class="titulo-base">
                    <a href="#" class="logo-base">Menu</a>
                </div>
                <nav class="menu-base">
                    <ul>
                        <li class = "opcion-base"><a href="">Usuarios <img class="icono-base" src="{% static 'img/icons/icdragmenu.png' %}" alt="No se encontró la imagen"></a>
                        <ul class="submenu-base">
                            <li><a href="/CLINICA/templates/usuario/inicio.html">Usuario</a></li>
                            <li class = "opcion"><a href="/CLINICA/templates/empleado/empleado.html">Empleado <img class="icono-base" src="{% static 'img/icons/icdragmenu.png' %}" alt="No se encontró la imagen"> </a>
                                <ul class = "submenu2-base">
                                    <li><a href="/CLINICA/templates/cargo.html">Cargos</a></li>
                                    <li><a href="/CLINICA/templates/especialidad.html">Especialidad Médica</a></li>
                                </ul>
                            </li>
                            <li><a href="/CLINICA/templates/documento.html">Documentos</a></li>
                            <li><a href="#">Pacientes</a></li>
                            <li><a href="#">Proveedores</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Citas</a></li>
                    <li><a href="#">Consultas</a></li>
                    <li><a href="#">Facturación</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>





