{% load static %}
<header class="contenedorbuscarempleado"> 
    {% include 'base_principal.html' %} 
  </header>
<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

</head>
<LINK REL=StyleSheet HREF="/CLINICA/static/css/styleBuscarCargo.css" TYPE="text/css" MEDIA=screen>
  <body class="body-listar">

    <div class="contenedor-listar-campos">
        <h1 class="h1-listar">Buscar Cargos</h1>
        <div class="container-listar">
            <div class="busqueda-listar">
                <div class="buscador-listar">
                    <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre">
                </div>
                <div class="btnBusqueda-listar">
                    <input id="btnBuscarUsuario "type="button" value="Buscar">
                </div>
            </div>
            <div class="tabla-listar" style="overflow-y: scroll; height: auto; max-height: 400px;">
                <table class="tftable-listar" ,border="1">
                    <tr class="tfheader-listar">
                        <th style="color:aliceblue">ID Cargo</th>
                        <th style="color:aliceblue">Nombre</th>
                        <th style="color:aliceblue">Descripcion</th>
                        <th style="color:aliceblue">Arcivo</th>
                        <th style="color:aliceblue">Acciones</th>
                    </tr>
                    {% if cargos %}
                    {% for cargo in cargos %}
                    <tr>
                        <td>{{ cargo.id }}</td>
                        <td>{{ cargo.nombre }}</td>
                        <td>{{ cargo.descripcion }}</td>
                        <td>{{ cargo.activo }}</td>
                        <td> 
                            <form action="" method="post" class="form-botones">
                            <button class="btnEditar" name="editar" id="editar">
                                  <img src="{% static 'img/icons/icedit.png' %}">
                            </button>
                            </form>
                            <form action="btnEliminar"  method="post">
                            <button class="btnEliminar" name="eliminar" id="eliminar">
                              <img src="{% static 'img/icons/icdelete.png' %}">
                            </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="3">No se encontraron cargos.</td>
                      </tr>
                    {% endif %}
            </table>
            
        </div>
    </div>
</div>