{% load static %}
<LINK REL=StyleSheet HREF="{% static 'css/styleCargo.css' %}" TYPE="text/css" MEDIA=screen>

 <head> 
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <header class="contenedorcargo"> 
    <title>{% block tittle %}Registro de Cargos{% endblock %}</title>
  </header> 

<meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>

 </head> 

<div class="contenedor">
    <h1 class="logo"><span class="nombre-empresa">Cargos Medical Rescue</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="info-empresa">
        <h3>Medical Rescue</h3>
        <ul class="servicios">
          <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
          <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
          <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
          <button class="bcargo"><a href ="/CLINICA/templates/buscarCargo.html">Buscar</a> </button>


        </ul>
      </div>
      <div class="contacto">
        <h3></h3>
        {% block content %}
        <form method="POST" action="{% url 'crear_cargo' %}">
          {% csrf_token %}
          <p>
            <label>Nombre</label>
            <input type="text" name="nombre" required style="width: 40%;height: 40px;">
          </p>
          <fieldset id="payment_method" style="height: 70px;">
          <legend>Activo/Inactivo</legend>
          <div class="fieldgroup">
          <input type="radio" name="payment_method" id="activo" value=1><label for= "payment1">Activo
          </label>
          </div>
          <div class="fieldgroup">
          <input type="radio" name="payment_method" id="inactivo" value=0 checked><label for= "payment2">Inactivo</label>
          </div>
          </fieldset>
        <p class="full">
            <label>Descripción</label>
            <textarea name="descripcion" required style="width: 100%;height: 100px;"></textarea>
          </p>

          <p>
           
          <p class="full">
            <button class="boton-enviar" style="width: 80%; height: 30px; margin: 2px;">Guardar</button>
          </p>
        </form>
        {% if mensaje %}
        <div class="alert alert-info" style="color:rgb(255, 255, 255);">{{ mensaje }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}
  {% include 'base_principal.html' %} 
 