{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}INICIO{% endblock %}
{% block content %}
    <!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Medical Rescue</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/CLINICA/static/css/indexStyle.css " />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/CLINICA/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/CLINICA/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area" style="scroll-behavior: auto;">
    <!-- header section strats -->
    
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="play_btn">
        <a href="">
          <img src="/CLINICA/static/img/images/play.png" alt="">
        </a>
      </div>
      <div class="number_box">
        <div>
          <ol class="carousel-indicators indicator-2">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
          </ol>
        </div>
      </div>
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Medical
                      <span>
                        Rescue
                      </span>
                    </h1>
                    <p>
                      En Medical Rescue, somos una clínica médica comprometida 
                      con la salud y el bienestar de nuestros pacientes.
                    </p>
                    <div class="btn-box">
                      <a href="#mas info"  class="btn-1">
                        leer mas
                      </a>
                      <a href="" class="btn-2">
                        Contáctanos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="/CLINICA/static/img/images/medico9.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Medical
                      <span>
                        Rescue
                      </span>
                    </h1>
                    <p>
                      Desde nuestra fundación, hemos estado proporcionando atención médica 
                      de calidad y servicios de salud integrales para ayudar a 
                      nuestros pacientes a alcanzar su mejor estado de salud posible.
                    </p>
                    <div class="btn-box" >
                      <a>
                      <a href="" class="btn-1" >
                        leer mas  
                      </a>
                      <a href="" class="btn-2">
                        Contáctanos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="/CLINICA/static/img/images/medico9.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Medical
                      <span>
                        Rescue
                      </span>
                    </h1>
                    <p>
                      Nuestro equipo médico está formado por profesionales altamente 
                      capacitados y experimentados, que trabajan juntos para garantizar 
                      que nuestros pacientes reciban la mejor atención médica posible.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        leer mas
                      </a>
                      <a href="" class="btn-2">
                        Contáctanos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="/CLINICA/static/img/images/medico9.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Medical
                      <span>
                        Rescue
                      </span>
                    </h1>
                    <p>
                      Desde médicos generales y especialistas hasta enfermeras 
                      y técnicos médicos, todos en Medical Rescue estamos 
                      comprometidos con brindar la atención médica de 
                      calidad que nuestros pacientes merecen.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        leer mas
                      </a>
                      <a href="" class="btn-2">
                        Contáctanos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="/CLINICA/static/img/images/medico9.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <a href=""><a name="mas info"></a>
              <h2>
                Sobre Nosotros
              </h2>

            </div>
            <h3>Mision</h3>
            <p>
              Satisfacer de manera eficaz y eficiente las necesidades de cuidado de salud de la comunidad.
              Brindar a toda la comunidad la mejor atención medica basada en la evidencia científica y contenido ético, acompañando al paciente y su familia.
              Colaborar con la Educación del paciente, su familia y la sociedad, brindando cuidado y promoción de actitudes saludables.
              Garantizar la revisión y actualización de los conocimientos, procesos, tecnologías y estructuras, gestionando nuestros recursos con racionalidad económica de forma transparente y honesta.
            </p>
            <h3>Vision</h3>
            <p>
              Crear y sostener un sistema integral de salud privada, que ofrezca un espacio de 
              crecimiento y desarrollo profesional enfocado en la excelencia y calidez en 
              la asistencia al paciente y su familia.
              Ser una Organización Modelo en Gestión y Asistencia en el cuidado de la 
              Salud de Tierra del Fuego
            </p>
            <h3>Valores</h3>
            <p>
              
              Trabajo en equipo: Trabajar con un objetivo común, respetando y valorando las 
              diferentes opiniones, fortaleciendo las relaciones interpersonales y 
              priorizando el éxito del equipo en beneficio del resultado por sobre 
              el éxito individual.
              <p>
              Equidad: En la utilización de los recursos y servicios de la institución 
              sin distinción de edad, género, grupo social, ideología y credo, 
              estado de salud o enfermedad.
            </p>
            <p>
              Responsabilidad: Construir las tareas orientadas al logro de los mejores 
              resultados. Asumir un rol activo en la labor diaria tanto en la clínica 
              como dentro de la sociedad.
            </p>
            <p>
              Ética: Mantener una conducta transparente, honesta y ocupada por el confort 
              de todas las personas con las que interactuamos. </p>
              <p>
              Compromiso: Desarrollar todas las tareas, enfocando el esfuerzo en brindar 
              atención de calidad a nuestros pacientes y su familia. </p>
              <p>
              Eficiencia: Lograr los objetivos utilizando procesos y métodos de trabajo 
              que optimicen el desempeño con la mejor utilización de los recursosión 
              de los conocimientos, procesos, tecnologías y estructuras, gestionando 
              nuestros recursos con racionalidad económica de forma transparente y honesta.
            </p>
            </p>
            
        
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/CLINICA/static/img/images/medicina.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- trending section -->

  

  <!-- end trending section -->

  <!-- discount section -->

  <section class="discount_section  layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              Contáctanos
            </h2>
            <h2 class="main_heading">
              Medical Rescue
            </h2>

            <div class="">
              <a href="">
                
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/CLINICA/static/img/images/medico4.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end discount section -->

  <!-- brand section -->

  

  <!-- end brand section -->
  <!-- contact section -->

  <!-- end contact section -->

  <!-- client section -->
  

  <!-- end client section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          Medical Rescue
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            
            <div>
              <div class="img-box">
                <img src="/CLINICA/static/img/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                Residencial Humuya
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/CLINICA/static/img/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +504 31483188
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/CLINICA/static/img/images/envelope-white.png " width="18px" alt="">
              </div>
              <p>
                medicalrescue@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <img src="/CLINICA/static/img/images/Instagram.png" style="width: 20px; height: 20px;" alt="">
            <p>medicalRescue.504</p>
            
        
            <div class="social_box">
              <a href="">
                <img src="/CLINICA/static/img/images/fb.png" alt="">
              </a>
              <a href="">
                <img src="/CLINICA/static/img/images/twitter.png" alt="">
              </a>
              <a href="">
                <img src="/CLINICA/static/img/images/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="/CLINICA/static/img/images/youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; @MR
        <a href=""></a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="/CLINICA/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/CLINICA/static/js/index.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>
</body>

</html>
{% endblock %}