{% load static %}
<!DOCTYPE html>
<html lang="en">
<body class="body-usuario">
    <link rel="stylesheet" href="{% static 'css/usuariostyle/stylesusuario.css' %}">
    <header class="header-usuario">
        <div class="container-usuario">
            <nav class = "nav-usuario">
                <ul>
                    <a href="/CLINICA/templates/usuario/inicio.html">Inicio</a>
                    <a href="/CLINICA/templates/usuario/registro.html">Registrar Usuarios</a>
                    <a href="/CLINICA/templates/usuario/listar.html">Visualizar Registros</a>
                </ul>
            </nav>
        </div>
    </header> 
    {% include 'base_principal.html' %}
</body>
</html>

    
    