@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedorcargo{   
    position: relative;
}

#main{
  font-family: "Roboto", sans-serif;
  color: #85929E;
  line-height: 1.5;
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.servicios {
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .servicios {
    text-align: left;
  }
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.info-empresa {
  padding: 1rem;
  background-color: #273746;
}
.info-empresa h3 {
  margin-left: 15%;
  color: rgba(255, 255, 255, 0.584);
}
@media screen and (min-width: 700px) {
  .info-empresa h3 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}
.nombre-empresa {
  color: #273746;
  ;
}
.contacto {
  padding: 1rem;
  background-color: #1A5276 ;
}
.contacto h3 {
  margin-bottom: 1rem;
}
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.formulario label {
  display: block;
}
.formulario button,
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccd7dc;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"]{
  width: 40%;
  height: 40px;
}
select{
  width: 40%;
  height: 40px; 
}
textarea {
  resize: none;
}

.full {
  grid-column: 1/3;
}

.boton-enviar {
  position: relative;
  left: calc(30%);
  max-width: 300px;
  height: 50px;
  max-height: 50px;
  background: none;
  color: #ffffff;
  background-color: #ffffff11;
  border: 2px solid #ffffff95;
  border-radius: 10px;
  z-index: 3;
}
.boton-enviar:hover {
  background-color: #ffffff2e;

}
.boton-enviar{
  position: relative;
  left: calc(30%);
  width: 80%;
  height: 30px;
  margin: 2px;
  background: none;
  color: #ffffff;
  background-color: #ffffff11;
  border: 2px solid #ffffff95;
  border-radius: 10px;
  z-index: 3;
}

.boton-enviar:hover {
  background-color: #ffffff57;
}
#payment_method{
  height: 70px;
}
textarea{
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
    .boton-enviar {
      left: calc(10%);
    }
    .boton-actualizar {
      left: calc(10%);
    }
    .button {
      margin-left: 0;
      margin-right: 50%;
    }
}
.fieldgroup{
   float: left;
   width: auto;
   margin-left: 3em;
}
.button{
  width: 80px;
  height: 60px;
  margin-top: 12%;
  margin-left: 35%;
  background: none;
  color: #85929E;
  background-color: #455a6483;
  border: 2px solid #455a64;
  border-radius: 10px;
  z-index: 3;
}
.button a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.584);
  z-index: 3;
}
.button:hover{
  background-color: #ffffff57;
}

#alert-alert-info{
  max-width: 250px;
  max-height: 300px;
  background-color:cadetblue;
  border: 1px solid #273746;
  border-radius: 10px;
  color: #273746;
  padding: 5px;
  position: absolute;
  left: 230px;
  top:65vh;
}