{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}RECAUDO DETALLES{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
  {% if 'exportar' in datos_permisos.0.idPantallas.detalleconsulta %}
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
  {% else %}
  <a href="#" class="activarFormulario">Exportar</a>
{% endif %}
</div>
<script src="{% static 'js/js_reportes/rpt_detalle_consulta.js' %}"></script>
<div class="contenedor-listar-campos">
  <h1 class="h1-listar">Registros Detalle Consulta</h1>
  <div class="busqueda-listar">
    <form method="GET" action="{% url 'buscar_detalle_consulta' %}">
      {% csrf_token %}
      <div class="buscador-listar">
        <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Documento">
      </div>
      {% if 'buscar' in datos_permisos.0.idPantallas.detalleconsulta %}
      <div class="btnBusqueda-listar">
        <input id="btnBuscarUsuario " type="submit" value="Buscar">
      </div>
      {% else %}
      <a href="#" class="activarFormulario" style="color: black;">Buscar</a>
    {% endif %}
    </form>
  </div>
  <div class="container-listar">
    <div class="tabla-listar">
      <table class="tftable-listar">
        <thead>
            <th style="color:aliceblue">ID</th>
            <th style="color:aliceblue">Paciente</th>
            <th style="color:aliceblue">Diagnósticos(ID,Enfermedad)</th>
            <th style="color:aliceblue">Acción Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% if detalles %}
          {% for detalle in detalles %}
          <tr>
            <td>{{ detalle.id }}</td>
            <td>{{ detalle.idConsulta.paciente }}</td>
            <td style="max-width: 20vh; word-wrap: break-word;">{% for enfermedad in detalle.idDiagnostico.idEnfermedades.values %}
              {{ enfermedad.id }}&#41 {{ enfermedad.nombre }} <br/>
              {% endfor %}
          </td>
            <td>
              {% if 'eliminar' in datos_permisos.0.idPantallas.detalleconsulta %}
              <form action="{% url 'eliminar_detalle_consulta' id=detalle.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_detalle" value="{{ detalle.id }}">
                <button class="btnEliminar" name="eliminar" id="eliminar">
                  <img src="{% static 'img/icons/icdelete.png' %}">
                </button>
              </form>
              {% else %}
              <a href="#" class="activarFormulario" style="background-position: left top;"></a>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4">No se encontraron detalles.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
{% endblock %}