{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}CARGOS{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_general_listas.css' %}">
<div id="contenedor-reportes">
    <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
    <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
    <button id="exportarBtn" >Exportar Excel</button>
    <button id="exportBtn">Exportar PDF</button>
  </div>
<div class="contenedor-listar-campos">
    <h1 class="h1-listar">Registros de Cargos</h1>
    <div class="busqueda-listar">
        <form method="GET" action="{% url 'buscar_cargos' %}">
            {% csrf_token %}
            <div class="buscador-listar">
                <input type="text" name="buscador" id="buscarUsuario" placeholder="ID o Nombre">
            </div>
            <div class="btnBusqueda-listar">
                <input id="btnBuscarUsuario " type="submit" value="Buscar">
            </div>
        </form>
        <a class="btn-agregar" href="/CLINICA/templates/cargos/cargo.html" class="btn-agregar-link">Agregar</a>
    </div>
    <div class="container-listar">
            <div class="tabla-listar">
                <table class="tftable-listar" ,border="1">
                    <tr class="tfheader-listar">
                        <th style="color:aliceblue">ID Cargo</th>
                        <th style="color:aliceblue">Nombre</th>
                        <th style="color:aliceblue">Descripción</th>
                        <th style="color:aliceblue">Activo</th>
                        <th style="color:aliceblue">Acciones</th>
                    </tr>
                    {% if cargos %}
                    {% for cargo in cargos %}
                    <tr>
                        <td>{{ cargo.id }}</td>
                        <td>{{ cargo.nombre }}</td>
                        <td>{{ cargo.descripcion }}</td>
                        <td>{{ cargo.activo }}</td>
                        <td> 
                            <form action="{% url 'abrir_actualizar_cargos' %}" method="post" class="form-botones">
                                {% csrf_token %}
                            <input type="hidden" name="id_cargo" value="{{ cargo.id }}">
                            <button class="btnEditar" name="editar" id="editar">
                                  <img src="{% static 'img/icons/icedit.png' %}">
                            </button>
                            </form>
                            <form action="{% url 'eliminar_cargo' id=cargo.id  %}"  method="post">
                                {% csrf_token %}
                            <input type="hidden" name="id_cargo" value="{{ cargo.id }}">
                            <button class="btnEliminar" name="eliminar" id="eliminar">
                              <img src="{% static 'img/icons/icdelete.png' %}">
                            </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5">No se encontraron cargos.</td>
                      </tr>
                    {% endif %}
            </table>
        </div>
        </div>
    </div>
</div>
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
<script src="{% static 'js/js_reportes/rpt_cargos.js' %}"></script>
{% endblock %}