{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Cargos{% endblock %}
{% block content %}
<div id="contenedor-reportes">
  {% if 'exportar' in datos_permisos.0.idPantallas.cargos %}
    <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
    <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
    <button id="exportarBtn" >Exportar Excel</button>
    <button id="exportBtn">Exportar PDF</button>
  {% else %}
    <a href="#" class="activarFormulario">Exportar</a>
  {% endif %} 
</div>
<div class="contenedor">
  <h1 class="logo"><span class="nombre-empresa">Cargos Medical Rescue</span></h1>
  <div class="wrapper animated bounceInLeft">
    <div class="info-empresa">
      <h3>Medical Rescue</h3>
      <ul class="servicios">
        <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
        <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
        <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
        <button class="button"><a href="/CLINICA/templates/cargos/buscarCargo.html">Buscar</a> </button>
      </ul>
    </div>
    <div class="contacto">
      <h3></h3>
      <form method="POST" action="{% url 'crear_cargo' %}">
        {% csrf_token %}
        <p>
          <label>Nombre</label>
          <input type="text" name="nombre" value="{{registro_temp.nombre}}">
        </p>
        <fieldset id="payment_method">
          <legend>Activo/Inactivo</legend>
          <div class="fieldgroup">
            <input type="radio" name="payment_method" id="activo" value=1 {% if registro_temp.activo == 1 %} checked {% else %} checked {% endif %}><label for="payment1">Activo
            </label>
          </div>
          <div class="fieldgroup">
            <input type="radio" name="payment_method" id="inactivo" value=0  {% if registro_temp.activo == 0 %} checked {% endif %}><label
              for="payment2">Inactivo</label>
          </div>
        </fieldset>
        <p class="full">
          <label>Descripción</label>
          <textarea name="descripcion">{{registro_temp.descripcion}}</textarea>
        </p>

        <p>
        {% if 'guardar' in datos_permisos.0.idPantallas.cargos %}
        <p class="full">
          <button class="boton-enviar" >Guardar</button>
        </p>
        {% else %}
          <a href="#" class="activarFormulario">Guardar</a>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% if mensaje %}
<div id="alert-alert-info">
  <p>{{ mensaje }}</p>
</div>
{% endif %}
<script src="{% static 'js/js_reportes/rpt_cargos.js' %}"></script>
{% endblock %}