
         

<!doctype html>

<html lang="en">
<!--<![endif]-->
  <head>


    <header class="contenedorbuscarempleado"> 
      {% include 'base_principal.html' %} 
    </header>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;>
  <body>
     <link rel="stylesheet" media="all" href="/CLINICA/static/css/empleadostyle/stilobuscar.css" />
    
  <form>
  <input id="search" type="search" required placeholder ="Ingresar Nombre o ID de empleado"> 
   <button class="redondo"><a href="" target="" class="button">Buscar</a>
  </form> </button>
  
</body>
 </head>

 

    
  
  
 




</div>
</div> 


</html>


        
     
</body> 