

<!DOCTYPE html>
<html>




<head>




  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <LINK REL=StyleSheet HREF="/CLINICA/static/css/empleadostyle/stiloEmpleado.css" TYPE="text/css" MEDIA=screen>

  <name class="circles">

                    <li></li>
                    <li></li>
                    <li></li>                     
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>

                    </ul>
 



</head>

<body class="area">

    
  
<LINK REL=StyleSheet HREF="stilo.css" TYPE="text/css" MEDIA=screen>
<form >
  <button class="redondo"><a href ="buscarpantalla.html">Buscar</a> </button>
      <fieldset>

        <legend class="empleado">Empleado  </legend>  
       

        <div class="form-control">
          <label for="name">Nombre</label>
          <input type="name" id="name" placeholder="Introduce tu nombre" required />
        </div>

<div class="form-control">
          <label for="apellido">Apellido</label>
          <input type="apellido" id="apellido" placeholder="Introduce tu apellido" required />
        </div>


        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Introduce tu Email"
            required
          />
       
        <div class="form-control">
          <label for="fecha">Fecha de nacimiento</label>
          <input
            type="fecha"
            id="fecha"
            placeholder="Introduce tu fecha de nacimiento"
            required
          />
        </div>
        <div class="form-control">
          <label for="Tel">Telefono</label>
          <input
            type="Tel"
            id="Tel"
            placeholder="Introduce tu Telefono"
            required
          />
        </div>
        <div class="form-control">
          <label for="direc">Direccion</label>
          <input
            type="direc"
            id="direc"
            placeholder="Introduce tu Direccion"
            required
          />
        </div><div class="form-control">
          <label for="doc">Documento</label>
          <input
            type="doc"
            id="doc"
            placeholder="Introduce tu No. de documento"
            required
          />
        </div>

        
        <br>   </br>
      <select>

  
  <option selected="selected">Tipo de documento</option>
  </select>
 <select>
   <option>Especialidad</option>
   </select>
<select>
  <option>Cargo</option> 


</select> 
</select>

<br>   </br>

</fieldset>


    <INPUT type="submit" value="Enviar"> <p> </p> 
    <INPUT type="reset"value="Restablecer">

        
    </div >

    </div>




