{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Actualizacion de empleados{% endblock %}
{% block content %}
<style type="text/css">
    input[type="text"] {
        width: 90%;
        height: 40px;
    }
    input[type="date"] {
        width: 90%;
        height: 40px;
    }
    input[type="password"] {
        width: 90%;
        height: 40px;
    }

    select {
        width: 90%;
        height: 40px;
    }
    fieldset{
        width: 95%;
    }
    .boton-enviar{
      margin-top: 10px;
    }
</style>
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<script src="{% static 'js/js_reportes/rpt_empleados.js' %}"></script>
<div class="contenedor">
    <h1 class="logo"><span class="nombre-empresa"> Actualizar Empleados  Medical Rescue</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="info-empresa">
        <h3>Medical Rescue</h3>
        <ul class="servicios">
          <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
          <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
          <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
          <button class="button"><a href ="/CLINICA/templates/empleado/buscarEmpleado.html">Buscar</a> </button>
        </ul>
      </div>
      <div class="contacto">
        <h3></h3>
        <form method="POST" action="{% url 'actualizar_empleados' id=empleados.0.id %}">
          {% csrf_token %}

        <fieldset id="payment_method">
          <legend>Activo/Inactivo</legend>
          <div class="fieldgroup">
            <input type="radio" name="payment_method" id="activo" value=1 {% if empleados.0.activo == 1 %} checked {% else %} checked {% endif %}><label for="payment1">Activo
            </label>
          </div>
          <div class="fieldgroup">
            <input type="radio" name="payment_method" id="inactivo" value=0  {% if empleados.0.activo == 0 %} checked {% endif %}><label
              for="payment2">Inactivo</label>
          </div>
        </fieldset>
        
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Nombre</label>
              <input type="text" name="nombre" required value="{{ empleados.0.nombre }}">
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro">Apellido</label>
              <input type="text" name="apellidos" required value="{{ empleados.0.apellidos }}">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              {% if empleados.0 %}
              <input type="hidden" name="id_paciente" value="{{ empleados.0.id }}" required>
              <label class="campo-registro" for="idTipoDocument1">Tipo Documento</label>
              <select name="idTipoDocument1" id="idTipoDocument1">
                  {% for TipoDocumentos in TipoDocumento %}
                      <option value="{{ TipoDocumentos.id }}" {% if TipoDocumentos.id == empleados.0.idTipoDocumento_id %}selected{% endif %}>{{ TipoDocumentos.nombre }}</option>
                  {% endfor %}
              </select>
              {% endif %}
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro" for="idEspecialidadMedic1"> Especialidad </label>
              <select name="idEspecialidadMedic1" id="idEspecialidadMedic1">
                <option value="0" {% if empleados.0.idEspecialidadMedicos == '0' %}selected{% endif %}>Seleccione una opción</option>"
                  {% for EspecialidadMedicos in EspecialidadMedico %}
                      <option value="{{ EspecialidadMedicos.id }}"{% if EspecialidadMedicos.id == empleados.0.idEspecialidadMedico_id %}selected{% endif %}>{{ EspecialidadMedicos.nombre }}</option>
                  {% endfor %}
              </select>
              
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro" for="idCargoEmplead1">Cargos</label>
              <select name="idCargoEmplead1" id="idCargoEmplead1">
                <option value="0" {% if empleados.0.idCargoEmpleados == '0' %}selected{% endif %}>Seleccione una opción</option>"
                 {% for CargoEmpleados in CargoEmpleado %}
                      <option value="{{ CargoEmpleados.id }}"{% if CargoEmpleados.id == empleados.0.idCargoEmpleado %}selected{% endif %}>{{ CargoEmpleados.nombre }}</option>
                  {% endfor %}
              </select>
            </div>



            <div style="display: block;width: 100%">
              <label class="campo-registro" >Documento</label>
              <input type="text" name="documento" required value="{{ empleados.0.documento}}">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Fecha de nacimiento</label>
              <input type="date" name="fechaNacimiento" required value="{{ empleados.0.fechaNacimiento }}">
            </div>
            <div style="display: block;width: 100%">
              <label  class="campo-registro">Teléfono</label>
              <input type="text" name="telefono" required value="{{ empleados.0.telefono }}">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Correo</label>
              <input type="text" name="email" required   value="{{ empleados.0.email}}">
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro">Dirección</label>
            <input type="text" name="direccion" required value="{{ empleados.0.direccion }}">
            </div>
          </div>
          <p class="full">
            <button class="boton-enviar">Guardar</button>
          </p>
        </form>
      </div>
    </div>
</div>
{% if mensaje %}
<div id="alert-alert-info">
    <p>{{ mensaje }}</p>
</div>
{% endif %}
{% endblock %}


  



 
