<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CLINICA/static/css/styleshome.css">
    <title>Principal</title>
</head>
<body>
    <label for="menu" class="nav-label">
        <img src="/CLINICA/static/img/icons/icopenmenu.png" alt="No se encontro la imagen" class="nav-img">
    </label>
    <input type="checkbox" id="menu" class="nav-input">

    <nav class="nav">
        <div class="nav-container">
            <h1>MENU</h1>
            <div class="nav-menu">
                <div class="item"><a href="/CLINICA/templates/more/iniciomenu.html" target="content-iframe-home">Inicio</a></div>
                <div class="item"><a href="/CLINICA/templates/more/empleado/empleado.html" target="content-iframe-home" >Empleados</a></div>
                <div class="item"><a href="/CLINICA/templates/more/usuario/usuario.html" target="content-iframe-home">Usuarios</a></div>
            </div>
        </div>
    </nav> 
    <div class="iframe-container">
        <iframe name="content-iframe-home" src="/CLINICA/templates/more/iniciomenu.html"></iframe>
    </div>
</body>
</html>