{% extends 'Pacientes/Paciente.html' %}
{% load static %}
{% block tittle %}Actualizacion de Pacientes{% endblock %}
        {% block content %}
        <form method="POST" action="{% url 'actualizar_pacientes' id=pacientes.0.id %}">
          {% csrf_token %}
          <p>
                <p>
                <label  style="position: relative; bottom: 100px;">Nombre</label>
                <input type="text" name="nombre" required style="width: 80%;height: 30px; position: relative; bottom: 100px; left: 10px;" value="{{ pacientes.0.nombre }}">
                </p>
                      
                    
                <p>
                <label  style="position: relative; bottom: 80px;">Apellido</label>
                <input type="text" name="apellido" required style="width: 80%;height: 30px; position: relative; bottom: 80px; left: 10px;" value="{{ pacientes.0.apellido }}" >
                      </p>
                      <p>
                <label  style="position: relative; bottom: 60px;">Teléfono</label>
                <input type="text" name="telefono" required style="width: 80%;height: 30px; position: relative; bottom: 60px; left: 7px;"  value="{{ pacientes.0.telefono }}">
                      </p>
            
                      <p>
                <label style="position: relative; bottom: 40px;" >Fecha de nacimiento</label>
                        <input type="text" name="fechaNacimiento" required style="width: 62%;height: 30px; position: relative; bottom: 40px; left: 5px;"  value="{{ pacientes.0.fechaNacimiento }}">
                      </p>
                      <p>
                <label style="position: relative; bottom: 20px;" >Documento</label>
                        <input type="text" name="documento" required style="width: 76%;height: 30px; position: relative;bottom: 20px; left: 7px;" value="{{ pacientes.0.documento}}">
                      </p>
                      <p>
                <label>Correo</label>
                        <input type="text" name="correo" required style="width: 83%;height: 30px; position: relative; left: 10px;" value="{{ pacientes.0.correo}}">
                      </p>
                      
                      <p>
                <label style="position: relative; top: 15px;">Dirección</label>
                        <input type="text" name="direccion" required style="width: 80%;height: 30px; position: relative; top: 15px; left: 7px;" value="{{ pacientes.0.direccion }}">
                      </p>
                      <div  style="position: relative; top:30px">
                        <label class="campo-registro" for="idTipoDocument1" style="margin-top: 20px;">Tipo Documento</label>
                        <select name="idTipoDocument1" id="idTipoDocument1">
                            {% for TipoDocumentos in TipoDocumento %}
                                <option value="{{ TipoDocumentos.id }}">{{ TipoDocumentos.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
          <p class="full">
            <button class="boton-enviar" style="width: 80%; height: 30px; margin: 2px; position: relative; top:55px; left: 40px ;">Actualizar</button>
          </p>
        </form>
        {% if mensaje %}
        <div class="alert alert-info" style="color:rgb(255, 255, 255);">{{ mensaje }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}