{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Pacientes{% endblock %}
{% block content %}
<style type="text/css">
    input[type="text"] {
        width: 90%;
        height: 40px;
    }
    input[type="date"] {
        width: 90%;
        height: 40px;
    }
    input[type="number"] {
        width: 90%;
        height: 40px;
    }

    select {
        width: 90%;
        height: 40px;
    }
    fieldset{
        width: 95%;
    }
    .boton-enviar{
      margin-top: 10px;
    }
</style>
<div class="contenedor">
    <h1 class="logo"><span class="nombre-empresa">Pacientes Medical Rescue</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="info-empresa">
        <h3>Medical Rescue</h3>
        <ul class="servicios">
          <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
          <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
          <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
          <button class="button"><a href ="/CLINICA/templates/Pacientes/buscarPaciente.html">Buscar</a> </button>
        </ul>
      </div>
      <div class="contacto">
        <h3></h3>
        <form method="POST" action="{% url 'crear_paciente' %}">
          {% csrf_token %}
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Nombre</label>
              <input type="text" name="nombre" required value="{{registro_temp.nombre}}"
              oninput="this.value = this.value.replace(/[^a-zA-Z\s.]/g, '').replace(/(\..*)\./g, '$1');" value="{{ registro_temp.nombre}}"/>
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro">Apellido</label>
              <input type="text" name="apellido" required value="{{registro_temp.apellido}}"
              oninput="this.value = this.value.replace(/[^a-zA-Z\s.]/g, '').replace(/(\..*)\./g, '$1');" value="{{ registro_temp.apellido}}"/>
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro" for="idTipoDocument1">Tipo Documento</label>
              <select name="idTipoDocument1" id="idTipoDocument1">
                  {% for TipoDocumentos in TipoDocumento %}
                      <option value="{{ TipoDocumentos.id }}"{% if TipoDocumentos.id == registro_temp.idTipoDocumento %}selected{% endif %}>{{ TipoDocumentos.nombre }}</option>
                  {% endfor %}
              </select>
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro" >Documento</label>
              <input type="text" name="documento" required value="{{registro_temp.documento}}">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Fecha de nacimiento</label>
              <input type="date" name="fechaNacimiento" required value="{{registro_temp.fechaNacimiento}}">
            </div>
            <div style="display: block;width: 100%">
              <label  class="campo-registro">Teléfono</label>
              <input type="number" name="telefono" required value="{{registro_temp.telefono}}"
              oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Correo</label>
              <input type="text" name="correo" required value="{{registro_temp.correo}}">
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro">Dirección</label>
            <input type="text" name="direccion" required value="{{registro_temp.direccion}}">
            </div>
          </div>
          <p class="full">
            <button class="boton-enviar">Guardar</button>
          </p>
        </form>
      </div>
    </div>
</div>
{% if mensaje %}
<div id="alert-alert-info">
    <p>{{ mensaje }}</p>
</div>
{% endif %}
{% endblock %}