{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Actualizacion de Pacientes{% endblock %}
{% block content %}
<style type="text/css">
    input[type="text"] {
        width: 90%;
        height: 40px;
    }
    input[type="date"] {
        width: 90%;
        height: 40px;
    }
    input[type="password"] {
        width: 90%;
        height: 40px;
    }

    select {
        width: 90%;
        height: 40px;
    }
    fieldset{
        width: 95%;
    }
    .boton-enviar{
      margin-top: 10px;
    }
</style>
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<div class="contenedor">
    <h1 class="logo"><span class="nombre-empresa">Actualizar Pacientes Medical Rescue</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="info-empresa">
        <h3>Medical Rescue</h3>
        <ul class="servicios">
          <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa, </li>
          <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
          <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
          <button class="button"><a href ="/CLINICA/templates/Pacientes/buscarPaciente.html">Buscar</a> </button>
        </ul>
      </div>
      <div class="contacto">
        <h3></h3>
        <form method="POST" action="{% url 'actualizar_pacientes' id=pacientes.0.id %}">
          {% csrf_token %}
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Nombre</label>
              <input type="text" name="nombre" required value="{{ pacientes.0.nombre }}">
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro">Apellido</label>
              <input type="text" name="apellido" required value="{{ pacientes.0.apellido }}">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              {% if pacientes.0 %}
              <input type="hidden" name="id_paciente" value="{{ pacientes.0.id }}" required>
              <label class="campo-registro" for="idTipoDocument1">Tipo Documento</label>
              <select name="idTipoDocument1" id="idTipoDocument1">
                  {% for TipoDocumentos in TipoDocumento %}
                      <option value="{{ TipoDocumentos.id }}" {% if TipoDocumentos.id == pacientes.0.idTipoDocumento_id %}selected{% endif %}>{{ TipoDocumentos.nombre }}</option>
                  {% endfor %}
              </select>
              {% endif %}
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro" >Documento</label>
              <input type="text" name="documento" required value="{{ pacientes.0.documento}}">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Fecha de nacimiento</label>
              <input type="date" name="fechaNacimiento" required value="{{ pacientes.0.fechaNacimiento }}">
            </div>
            <div style="display: block;width: 100%">
              <label  class="campo-registro">Teléfono</label>
              <input type="text" name="telefono" required value="{{ pacientes.0.telefono }}">
            </div>
          </div>
          <div style="display: inline-flex ;width: 100%">
            <div style="display: block;width: 100%">
              <label class="campo-registro">Correo</label>
              <input type="text" name="correo" required   value="{{ pacientes.0.correo}}">
            </div>
            <div style="display: block;width: 100%">
              <label class="campo-registro">Dirección</label>
            <input type="text" name="direccion" required value="{{ pacientes.0.direccion }}">
            </div>
          </div>
          <p class="full">
            <button class="boton-enviar">Actualizar</button>
          </p>
        </form>
      </div>
    </div>
</div>
{% if mensaje %}
<div id="alert-alert-info">
    <p>{{ mensaje }}</p>
</div>
{% endif %}
<script src="{% static 'js/js_reportes/rpt_paciente.js' %}"></script>
{% endblock %}


  



 
