{% extends 'base_principal.html' %}
{% load static %}

{% block tittle %}Registro de Consultas{% endblock %}
{% block content %}
<style type="text/css">
    input[type="text"] {
        width: 90%;
        height: 40px;
    }

    input[type="password"] {
        width: 90%;
        height: 40px;
    }

    input[type="number"] {
        width: 90%;
        height: 40px;
    }

    select {
        width: 90%;
        height: 40px;
    }

    fieldset {
        width: 95%;
    }

    #alert-alert-info {
        top: 70vh;
    }
    .eliminar-btn{
        background-color: rgba(215, 3, 3, 0.543);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 50px;
    }
    .eliminar-btn:hover{
        background-color: rgba(255, 3, 3, 0.75);
    }


</style>
<div id="contenedor-reportes">
  <input type="hidden" id="datosHidden" value="{{ reportes_lista }}">
  <input type="hidden" id="datosHiddenUsuario" value="{{ reportes_usuarios }}">
  <button id="exportarBtn" >Exportar Excel</button>
  <button id="exportBtn">Exportar PDF</button>
</div>
<script src="{% static 'js/js_reportes/rpt_consultas.js' %}"></script>
<div class="contenedor">
    <h1 class="logo"> <span class="nombre-empresa">Consultas</h1>
    <div class="wrapper animated bounceInLeft">
        <div class="info-empresa">
            <h3 style="color: beige;">Medical Rescue</h3>
            <ul class="servicios">
                <li><i class="fa fa-map-marker"></i> Colonia Humuya, Avenida Altiplano, Calle Poseidón, Tegucigalpa,
                </li>
                <li><i class="fa fa-mobile"></i> 504 9784-9821</li>
                <li><i class="fa fa-envelope"></i> MedicalR@gmail.com</li>
                <button class="button"><a href="/CLINICA/templates/consulta/buscar_consulta.html">Buscar</a> </button>
            </ul>
        </div>
        <div class="contacto" style="max-height: 400px;">
            <div style="display: flex;width: 100%">
                <form id="myForm" class="formulario" method="POST" action="{% url 'crear_consulta' %}">
                    {% csrf_token %}
                    <div style="display: block;">
                    <input type="hidden" id="valoresSeleccionadosInput" name="valoresSeleccionados">
                    <div style="display: block ;width: 125%">
                        <div style="display: block;width: 125%">
                          <label class="campo-registro" for="idTipoDocument1">Cita</label>
                          <select name="idCita" id="idCita" onchange="activarInput()">
                            <option value="0" {% if registro_temp.idCita == '0' %}selected{% endif %}>Seleccione una opción</option>"
                            {% for cita in cita_list %}
                            <option value="{{ cita.id }}"{% if cita.id == registro_temp.idCita %}selected{% endif %}>{{cita.idPaciente.documento }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div style="display: block;width: 125%">
                          <label class="campo-registro" for="idTipoDocument1">Tipo</label>
                          <select name="idTipo" id="idTipo" onchange="activarInput()">
                            <option value="0" {% if registro_temp.idTipo == '0' %}selected{% endif %}>Seleccione una opción</option>"
                            {% for tipo in tipo_list %}
                            <option value="{{ tipo.id }}"{% if tipo.id == registro_temp.idTipo %}selected{% endif %} data-dato="{{ tipo.precio }}">{{tipo.nombre }}</option>
                            {% endfor %}
                          </select>
                      </div>
                    </div>
                    <div style="display: block ;width: 125%">
                      <div style="display: block;width: 125%">
                          <label class="campo-registro">Recomendaciones</label>
                          <input type="text" name="recomendaciones" id="recomendaciones" required 
                              oninput="this.value = this.value.replace(/[^a-zA-Z\s.]/g, '').replace(/(\..*)\./g, '$1');"
                              value="{{ registro_temp.recomendaciones}}" />
                      </div>
                      <div style="display: block;width: 125%">
                        <label class="campo-registro">Información adicional(Expediente)</label>
                        <input type="text" name="informacionAdicional" id="informacionAdicional" required 
                            oninput="this.value = this.value.replace(/[^a-zA-Z\s.]/g, '').replace(/(\..*)\./g, '$1');"
                            value="{{ registro_temp.informacionAdicional}}" />
                    </div>
                  </div>
                  <label>Precio</label>
                  <input type="text" name="precio" id="precio" value="{{registro_temp.precio}}" placeholder="00.00" min="0"  step="10" oninput="this.value = this.value.replace(/[^\d.]|\.(?=.*\.)/g, '')" >  
                    <p class="full">
                        <button class="boton-enviar" type="submit" style="
                        max-height: 40px;
                        height: 40px;width: 200px;">Guardar</button>
                    </p>
                  </div>
                </form>
                    <div style="display: block;
                      width: 50%;
                      right: 71px;
                      position: relative;">
                        <label class="campo-registro" for="idTipoDocument1">Diagnósticos</label>
                        <select name="idDiagnostico" id="idTipoDocument1" style=" text-overflow: ellipsis;white-space: nowrap;">
                            <option value="0" selected>Seleccione una opción</option>"
                            {% for diagnostico in diagnostico_list %}
                            <option value="{{ diagnostico.id }}-{{ diagnostico.descripcion }}">{{diagnostico.id}}&#41 {{ diagnostico.descripcion }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <button class="boton-enviar" id="myButton" onclick="guardarValor()" style="
                    position: fixed; top: 180px; left: 90%;width: 35px;
                    max-height: 35px;
                    height: 35px;"><img src="{% static 'img/icons/icadd.png' %}" style="max-width: 30px; max-height: 30px;"></button>

            </div>
            <div style="max-height: 300px;overflow-y: scroll;height:300px; position: relative; bottom: 300px; left:320px;">
              <table id="myTable" style="max-height: 300px; ">
                  <thead>
                    <tr>
                      <th style="width: 200px;">Diagnósticos</th>
                      <th style="width: 200px">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Aquí se agregarán las filas de la tabla con los datos de la lista -->
                  </tbody>
                </table>
            </div>     
        </div>
    </div>
    {% if mensaje %}
    <div id="alert-alert-info">
        <p>{{ mensaje }}</p>
    </div>
</div>
{% endif %}
{% if error %}
<div id="alert-alert-info" style="top:100px">
  <p>{{ error }}</p>
</div>
</div>
{% endif %}
<script>
var valoresSeleccionados = [];

window.addEventListener("load", function() {
		  activarInput();
	});
  function activarInput() {
  var select = document.getElementById("idTipo");
  var input = document.getElementById("precio");
  var opcionSeleccionada = select.options[select.selectedIndex];
  var dato = opcionSeleccionada.getAttribute("data-dato");
  
  if (dato === "0") {
    input.removeAttribute("disabled");
  } else {
    input.setAttribute("disabled", "disabled");
    input.value = dato;
  }
}



{% for sintoma in registro_temp.lista %}
  var sintomaObj = "{{ sintoma.id }}-{{ sintoma.descripcion }}";
  if (!valoresSeleccionados.includes(sintomaObj) && sintomaObj != 0) {
    valoresSeleccionados.push(sintomaObj);
    cargarTabla();
  }
{% endfor %}




function guardarValor() {
  var valorSeleccionado = document.getElementById("idTipoDocument1").value;
  if (!valoresSeleccionados.includes(valorSeleccionado) && valorSeleccionado != 0) {
    valoresSeleccionados.push(valorSeleccionado);
    cargarTabla();
  }
}


function cargarTabla() {
  var tbody = document.querySelector("#myTable tbody");
  tbody.innerHTML = ""; // Elimina todas las filas de la tabla

  for (var i = 0; i < valoresSeleccionados.length; i++) {
    var fila = document.createElement("tr");
    var valor = document.createElement("td");
    valor.innerText = valoresSeleccionados[i];
    fila.classList.add("td-fila-valor");
    var botonEliminar = document.createElement("button");
    botonEliminar.innerText = "Eliminar";
    botonEliminar.classList.add("eliminar-btn");
    botonEliminar.onclick = function() {
      var filaAEliminar = this.parentNode.parentNode;
      var valorAEliminar = filaAEliminar.getElementsByTagName("td")[0].innerText;
      var indice = valoresSeleccionados.indexOf(valorAEliminar);
      valoresSeleccionados.splice(indice, 1);
      cargarTabla();
    }
    var acciones = document.createElement("td");
    acciones.appendChild(botonEliminar);
    fila.appendChild(valor);
    fila.appendChild(acciones);
    tbody.appendChild(fila);
  }
}
//Este metodo es para poder acceder a la lista de sintomas (detalles de la enfermedad)
document.getElementById("myForm").addEventListener("submit", function(event) {
  event.preventDefault(); // Previene que el formulario se envíe automáticamente
  
  var valoresSeleccionadosInput = document.getElementById("valoresSeleccionadosInput");
  valoresSeleccionadosInput.value = JSON.stringify(valoresSeleccionados);
  
  this.submit(); // Envía el formulario
});

</script>
{% endblock %}